﻿<div class="content-padding" ng-show="ctrl.isshowSearch" layout="column" layout-wrap>
    <div class="wrapper-header-toppic" layout="row">
        <div class="header-toppic">
            การค้นหา : {{ctrl.menuName}}
        </div>
    </div>
    <file-upload type="img" flex="95" flex-lg="60" operation="ctrl.operation" upload-file="ctrl.imgFile" ismulti="0"></file-upload>
    <file-upload type="doc" flex="95" flex-lg="60" operation="ctrl.operation" upload-file="ctrl.docFile" ismulti="0"></file-upload>

    <div class="wrapper-input" layout="row" layout-wrap>

        <!--<md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>เลขที่ประกาศ</label>
            <md-select ng-model="ctrl.modelSearch.ANNOUNCEMENTID">
                <md-option ng-repeat="item in ctrl.AnnouncementLandList | orderBy : 'ANNOUNCEMENT_NO'" ng-value="item.GID">{{item.ANNOUNCEMENT_NO}}</md-option>
            </md-select>
        </md-input-container>-->

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>เลขที่ประกาศ</label>
            <input ng-model="ctrl.modelSearch.ANNOUNCEMENTID" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>รหัสโครงการ, ชื่อโครงการ</label>
            <input ng-model="ctrl.modelSearch.PROJECT_NAME" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>ฉโนดเลขที่</label>
            <input ng-model="ctrl.modelSearch.DEED_NO_FROM" type="number" min="0">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>ถึงฉโนดเลขที่</label>
            <input ng-model="ctrl.modelSearch.DEED_NO_TO" type="number" min="0">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>จังหวัด</label>
            <md-autocomplete ng-disabled="ctrl.configProvinceAutoComplete.isDisabled" md-no-cache="ctrl.configProvinceAutoComplete.noCache" md-selected-item="ctrl.configProvinceAutoComplete.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.configProvinceAutoComplete.searchText)" md-search-text="ctrl.configProvinceAutoComplete.searchText" md-selected-item-change="ctrl.selectedItemChangeProvince(item)" md-items="item in ctrl.querySearchProvince(ctrl.configProvinceAutoComplete.searchText)" md-item-text="item.PROVINCE_NAME_TH" md-min-length="0">
                <!--ng-required="true"-->
                <md-item-template>
                    <span md-highlight-text="ctrl.configProvinceAutoComplete.searchText" md-highlight-flags="^i">{{item.PROVINCE_NAME_TH}}</span>
                </md-item-template>
                <md-not-found>
                    ไม่พบข้อมูลที่ตรงกับ "{{ctrl.configProvinceAutoComplete.searchText}}"
                </md-not-found>
            </md-autocomplete>
        </md-input-container>
    </div>

    <div class="wrapper-input" layout="row" layout-wrap>
        <div flex-xs="100" flex-sm="100" flex-gt-sm="auto" layout="row" layout-align="start center" layout-wrap>
            <md-button class="btn-main" ng-click="ctrl.add()" flex="none">
                <img src="../../Content/icon/icon-add.svg">
                เพิ่มข้อมูล
            </md-button>
        </div>

        <div flex-xs="100" flex-sm="100" flex-gt-sm="none" layout="row" layout-align="end center" layout-wrap>
            <md-button class="btn-main" ng-click="ctrl.search()" flex="none">
                <img src="../../Content/icon/icon-search.svg">
                ค้นหา
            </md-button>
            <md-button class="btn-cancel" ng-click="ctrl.clear()" flex="none">
                <img src="../../Content/icon/icon-reset.svg">
                ค่าเริ่มต้น
            </md-button>
        </div>
    </div>

    <div layout="row">
        <grid-management style="width:100%;" g-option="ctrl.gridOptions" on-callback-edit="ctrl.gridCallbackEdit" on-callback-del="ctrl.gridCallbackDel" on-callback-view="ctrl.gridCallbackView"></grid-management>
    </div>
</div>

<div class="content-padding" ng-show="!ctrl.isshowSearch" layout="column" layout-wrap>
    <div layout="column">
        <label flex="">ข้อมูลงานจัดหาที่ดิน > ข้อมูลทะเบียนประวัติที่ดิน > {{ctrl.operationTH}}ข้อมูล</label>
    </div>
    <form name="registrationLandForm" novalidate>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab id="tab1">
                    <md-tab-label>รายละเอียด</md-tab-label>
                    <md-tab-body>
                        <div class="wrapper-input" layout="row" layout-wrap>

                            <md-input-container class="input-container">
                                <label>หมายเลขแฟ้ม</label>
                                <input name="ANNOUNCEMENTS_NO" ng-keyup ng-model="ctrl.modelSave.ANNOUNCEMENTS_NO" type="text">
                            </md-input-container>

                            <md-input-container class="input-container">
                                <label>วันที่ประกาศ</label>
                                <md-datepicker name="NOTICE_DATE" ng-model="ctrl.modelSave.NOTICE_DATE" md-hide-icons="triangle"></md-datepicker>
                            </md-input-container>

                            <md-input-container class="input-container">
                                <label>รหัสงบประมาณ</label>
                                <input name="NOTICE_SUBJECT" ng-model="ctrl.modelSave.NOTICE_SUBJECT" type="text">
                            </md-input-container>

                            <md-input-container class="input-container">
                                <label>พื้นที่ประกาศซื้อ</label>
                                <input name="NOTICE_PURCHASE_AREA" ng-model="ctrl.modelSave.NOTICE_PURCHASE_AREA" type="text">
                            </md-input-container>

                            <!-- *******************************************ขนาดเนื้อที่ประกาศ********************************************* -->
                            <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
                                <h3>เนื้อที่ตามฉโนด</h3>
                            </div>

                            <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
                                <label>ไร่</label>
                                <input name="NOTICE_AREA_RAI" ng-model="ctrl.modelSave.NOTICE_AREA_RAI" type="number" min="0">
                            </md-input-container>
                            <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
                                <label>งาน</label>
                                <input name="NOTICE_AREA_NGAN" ng-model="ctrl.modelSave.NOTICE_AREA_NGAN" type="number" min="0">
                            </md-input-container>
                            <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
                                <label>วา</label>
                                <input name="NOTICE_AREA_WA" ng-model="ctrl.modelSave.NOTICE_AREA_WA" type="number" min="0">
                            </md-input-container>

                            <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
                                <label>วันที่โอนให้ กคช.</label>
                                <md-datepicker name="TRANSFER_TO_NHA_ DATE" ng-model="ctrl.modelSave.TRANSFER_TO_NHA_DATE" md-hide-icons="triangle"></md-datepicker>
                            </md-input-container>

                            <md-input-container class="input-container">
                                <label>ชื่อเจ้าของกรรมสิทธิ์เดิม</label>
                                <input name="USER_OWENER" ng-model="ctrl.modelSave.USER_OWENER" type="text">
                            </md-input-container>

                            <md-input-container class="input-container">
                                <label>ราคาซื้อต่อไร่</label>
                                <input name="PURCHASE_AMOUNT_OF_RAI" ng-model="ctrl.modelSave.PURCHASE_AMOUNT_OF_RAI" type="text">
                            </md-input-container>

                            <md-input-container class="input-container">
                                <label>ราคาซื้อขายที่ดิน</label>
                                <input name="PURCHASE_AMOUNT_OF_LAND" ng-model="ctrl.modelSave.PURCHASE_AMOUNT_OF_LAND" type="text">
                            </md-input-container>

                            <md-input-container class="input-container">
                                <label>ราคาประเมินราชการ</label>
                                <input name="NOTICE_PURCHASE_AREA" ng-model="ctrl.modelSave.NOTICE_PURCHASE_AREA" type="text">
                            </md-input-container>

                            <md-input-container class="input-container">
                                <label>รายละเอียด (FUNCTION)</label>
                                <input name="PURCHASE_ DESCRIPTION" ng-model="ctrl.modelSave.PURCHASE_DESCRIPTION" type="text">
                            </md-input-container>


                            <div layout="row">
                                <md-input-container class="input-container">
                                    <label class="label-textaria">รายละเอียด</label>
                                    <textarea ng-model="ctrl.modelSave.description" rows="5" md-select-on-focus></textarea>
                                </md-input-container>
                            </div>

                        </div>
                    </md-tab-body>

                </md-tab>
            </md-tabs>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-primary" ng-click="ctrl.saveOrUpdate(registrationLandForm.$invalid)" type="submit">บันทึก</md-button>
                <md-button class="md-raised " ng-click="ctrl.clearData()">ล้างค่า</md-button>
                <md-button class="md-raised " ng-click="ctrl.goBack()">กลับ</md-button>
            </section>
        </md-content>
    </form>

</div>