﻿<div>
    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ประกาศฉบับที่</label>
            <input name="ANNOUNCEMENTS_NO" ng-model="ctrl.modelSave.ANNOUNCEMENTS_NO" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>วันที่ประกาศ</label>
            <md-datepicker name="NOTICE_DATE" ng-model="ctrl.modelSave.NOTICE_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>เรื่อง</label>
            <input name="NOTICE_SUBJECT" ng-model="ctrl.modelSave.NOTICE_SUBJECT" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>พื้นที่ประกาศซื้อ</label>
            <input name="NOTICE_PURCHASE_AREA" ng-model="ctrl.modelSave.NOTICE_PURCHASE_AREA" type="text" md-maxlength="3000">
        </md-input-container>

        <!-- *******************************************ขนาดเนื้อที่ประกาศ********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>ขนาดเนื้อที่ประกาศ</h3>
        </div>

        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>ไร่</label>
            <input name="NOTICE_AREA_RAI" ng-model="ctrl.modelSave.NOTICE_AREA_RAI" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>งาน</label>
            <input name="NOTICE_AREA_NGAN" ng-model="ctrl.modelSave.NOTICE_AREA_NGAN" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>วา</label>
            <input name="NOTICE_AREA_WA" ng-model="ctrl.modelSave.NOTICE_AREA_WA" type="number">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ระยะเวลารับแบบเสนอขาย ตั้งแต่</label>
            <md-datepicker name="PURCHASE_FROM_DATE" ng-model="ctrl.modelSave.PURCHASE_FROM_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ถึงวันที่</label>
            <md-datepicker name="PURCHASE_TO_DATE" ng-model="ctrl.modelSave.PURCHASE_TO_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>

        <!-- ***********************************************ข้อมูลคณะกรรมการจัดซื้อที่ดิน************************************************** -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>ข้อมูลคณะกรรมการจัดซื้อที่ดิน</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>คณะกรรมการโครงการจัดซื้อที่ดิน</label>
            <input name="PURCHASE_COMMITTEE_NAME" ng-model="ctrl.modelSave.PURCHASE_COMMITTEE_NAME" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>คำสั้งที่</label>
            <input name="COMMAND_NO" ng-model="ctrl.modelSave.COMMAND_NO" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ลงวันที่</label>
            <md-datepicker name="COMMAND_DATE" ng-model="ctrl.modelSave.COMMAND_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ประธานคณะกรรมการจัดซื้อที่ดิน</label>
            <input name="PURCHASE_CHAIRMAN_BORAD" ng-model="ctrl.modelSave.PURCHASE_CHAIRMAN_BORAD" type="text">
        </md-input-container>
        <!-- ****************datatable committee***************** -->


        <!-- ****************ข้อมูลผู้เสนอขาย***************** -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>ข้อมูลผู้เสนอขาย</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>แปลงหมายเลข</label>
            <input name="OFFER_PARCEL_NO" ng-model="ctrl.modelSave.OFFER_PARCEL_NO" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>วันที่เสนอขาย</label>
            <md-datepicker name="OFFER_SALE_DATE" ng-model="ctrl.modelSave.OFFER_SALE_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ชื่อผู้เสนอขาย</label>
            <input name="OFFER_SALE_NAME" type="text" ng-model="ctrl.modelSave.OFFER_SALE_NAME">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>เลขบัตรประชาชน 13 หลัก</label>
            <input name="OFFER_SALE_ID_CARD" type="text" ng-model="ctrl.modelSave.OFFER_SALE_ID_CARD">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ที่อยู่ผู้เสนอขาย</label>
            <input name="OFFER_SALE_ADDRESS" ng-model="ctrl.modelSave.OFFER_SALE_ADDRESS" type="text" md-maxlength="3000">
        </md-input-container>

        <!-- ****************ข้อมูลผู้เสนอขาย***************** -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>ที่ตั้งที่เสนอขาย</h3>
        </div>
        <selection-area-address 
                                form="ctrl.form" 
                                mode="ctrl.mode"
                                required="false"  
                                province-selected="ctrl.modelSave.PROVINCE_ID"
                                district-selected="ctrl.modelSave.DISTRICT_ID"
                                subdistrict-selected="ctrl.modelSave.SUBDISTRICT_ID"></selection-area-address>

       


        <!-- ****************เนื้อที่เสนอขาย***************** -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>เนื้อที่เสนอขาย</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>ไร่</label>
            <input name="SALE_LAND_RAI" ng-model="ctrl.modelSave.SALE_LAND_RAI" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>งาน</label>
            <input name="SALE_LAND_NGAN" ng-model="ctrl.modelSave.SALE_LAND_NGAN" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>วา</label>
            <input name="SALE_LAND_WA" ng-model="ctrl.modelSave.SALE_LAND_WA" type="number">
        </md-input-container>

    </div>

</div>