// variable
@import "../../base/variables.scss";
// button
@import "../../component/button/button.scss";
// use for plugin family.scss
@import "../../plugin/family/family.scss";

/* file upload */

file-upload {
  background-color: #d4e7d0;
  padding: 15px 20px 0 20px;
}

.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // background: linear-gradient(180deg, rgba(73,76,76, 1), rgba(12,12,12, 1));
  // max-height: 38px;
  // max-width: 112px;
  min-height: 38px;
  min-width: 112px;
  border-radius: 7px;
  background-color: $color-5_61A;
  cursor: pointer;

  &:hover {
    background: {
      color: lighten($color-5_61A, 5%);
    }
  }
}

.file-upload__label {
  font: {
    size: rem($input-FontSize-1);
    family: $sarabunPSK-Normal;
  }

  cursor: pointer;
  color: $color-6_61A !important;
  padding: 2px 26px 2px 36px;
  margin-left: 20px;
}

.file-upload__icon {
  position: absolute;
  margin-left: -35px;
  margin-top: 7px;
}

.file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}

.file-upload__note {
  margin-left: 10px;
  color: $color-18;
  font-size: 1rem;
}

.file-upload__wrapper {

  .file-upload__info {
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);

    @include first(1) {
      border-top: 1px solid rgba(128, 128, 128, 0.2);
    }

    @include last-child() {
      margin-bottom: 15px;
    }

    .upload-info__checkbox {
      margin-right: 5px;
    }

    .upload-info__name {
      color: $color-9_61A;
      transition: color 0.2s;
      word-break: break-all;

      &:hover {
        cursor: zoom-in;
        color: $color-4_61A;
      }
    }

    .upload-file__name {
      color: $color-1;
      word-break: break-all;
    }

    .upload-info__delete {
      margin-left: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

img.img-upload {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.wrapper-img-special {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 155px;
  max-height: 155px !important;
  max-width: calc(10vw + 16px);
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.8);

  img.img-upload {
    margin-bottom: 0px;

    &:hover {
      cursor: zoom-in;
    }
  }
}

.wrapper-img-upload {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.wrapper-img-proflie {
  min-width: 255px;
  max-width: 255px;
  min-height: 227px;
  max-height: 227px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;

  background: {
    color: #ccc;
  }
}