// variable
@import "../../base/variables.scss";
// button
@import "../../component/button/button.scss";
// use for plugin family.scss
@import "../../plugin/family/family.scss";

// md dialog
.dialog-close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  outline: none;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  padding-top: 8px;
  &:hover {
    cursor: pointer;
    font: {
      size: 105%;
    }
    // background-color: $color-1;
    // border: 1px solid $color-8;
  }
}

.close-btn-md-dialog {
  &:hover {
    cursor: pointer;
  }
}

.wrapper-confirm-dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  div[ng-include] {
    width: 100%;
  }
}

// custom dialog
// .ng-modal-overlay {
//   position: fixed;
//   z-index: 99;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(55, 54, 56, 0.42);
//   opacity: 0.8;
//   margin: 0;
//   overflow: hidden;
// }

// [aria-hidden="true"] {
//   display: none;
// }

// [aria-hidden="false"] {
//   display: block;
// }

// .ng-modal-dialog {
//   z-index: 100;
//   position: fixed;
//   width: 30%;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: #fff;
// }

// .ng-modal-dialog-content {
//   padding: 10px;
//   text-align: center;
//   color: $color-1;
//   font: {
//     size: rem($header-FontSize-2);
//     family: THSarabunPSK-Bold;
//   }
// }

// .ng-modal-dialog {
//   font: {
//     family: THSarabunPSK-Bold;
//   }
//   .md-toolbar-tools {
//     font: {
//       size: rem($header-FontSize-2);
//     }
//   }
//   md-toolbar:not(.md-menu-toolbar) {
//     background-color: $color-13;
//     color: rgba(255, 255, 255, 0.87);
//     min-height: 39px;
//     .md-toolbar-tools {
//       height: 39px;
//     }
//   }
// }