﻿<div layout="row" layout-wrap>
    <header class="main-header" ng-show="ctrl.showMenu()" flex="100">
        <!--main header-->
        <div class="header" layout="row">
            <div class="header-bg-logo" flex="none" layout="row" layout-align="start center">
                <img class="header-logo" src="../../Content/images/logo.svg" flex="none" ng-click="ctrl.gotoHome()">
                <div class="header-project-name">ระบบสารสนเทศบริหารจัดการข้อมูลที่ดิน (LIS)</div>

                <div class="header-bg-skew">
                </div>
                <div class="header-bg-pattern">
                    <img src="../../Content/images/header-bg-pattern.svg" flex="none">
                </div>
            </div>

            <div class="header-bg-object" flex="none" layout="row" layout-align="end start">
                <img src="../../Content/images/header-bg-object.svg">
            </div>
        </div>
    </header>

    <!--main navigation-->
    <div class="navbar" ng-show="ctrl.showMenu()" layout="row" layout-align="start center" flex="100">
        <nav class="tab-menu" ng-repeat="item in ctrl.mainMenuList | orderBy:'SORT'" flex="none" layout="row" layout-wrap layout-align="start center" show-getter-1366>
            <div ng-click="ctrl.onSelectMainMenu(item.ID)">{{item.MENU_NAME}}</div>
        </nav>
        <div class="mobile-menu" ng-click="ctrl.toggleMenuMobile()" layout="row" layout-align="start center" show-less-1367>
            <button class="menu-toggle" ng-class="{'is-active': !ctrl.activeMenuMobile}"></button>
            <div show-less-599="">Menu</div>
        </div>
        <div class="user-menu" flex layout="row" layout-align="end center">
            <div class="icon-user">
                <img src="../../Content/icon/icon-user.svg">
            </div>
            <div class="user-display">นางสมฤทัย ใจกว้าง</div>
            <div class="user-detail">(สช. บุรีรมย์ ชภ.2 ชซ.2)</div>
            <div class="dropdown">
                <img src="../../Content/icon/icon-triangle.svg">
            </div>
        </div>
    </div>

    <main class="main-container" layout="row" flex="100">

        <nav class="wrapper-v-accordion" ng-class="{'is-open': !ctrl.activeMenuMobile}" ng-scrollbars ng-show="ctrl.showMenu()" flex="none">
            <!--Left Menu-->

            <!-- for less notebook size -->
            <div class="navbar" ng-show="ctrl.showMenu()" layout="row" layout-wrap layout-align="start center" flex="100" show-less-1367>
                <nav class="tab-menu" ng-repeat="item in ctrl.mainMenuList | orderBy:'SORT'" flex-xs="100" flex="none" layout="row">
                    <div ng-click="ctrl.onSelectMainMenu(item.ID)">{{item.MENU_NAME}}</div>
                </nav>
            </div>

            <v-accordion class="vAccordion--default" id="my-accordion" multiple control="accordionA" onexpand="ctrl.expandCallback(index)" oncollapse="ctrl.collapseCallback(index)">
                <v-pane id="pane-{{ item.ID }}" ng-repeat="item in ctrl.subMenuList | filter:{MENU_ID: ctrl.mainMenuSelected} | orderBy:'SORT'" expanded="item.expand">
                    <v-pane-header class="lv1" ng-class="item.submenus.length == 0 ?'no-sub': 'have-sub'" ng-click="ctrl.onClickMenu(item.MENU_PATH,item)" layout="row" layout-align="start center">

                        {{ ::item.MENU_NAME }}
                        <img src="../../Content/icon/icon-triangle.svg">

                    </v-pane-header>
                    <v-pane-content class="lv1" ng-class="item.submenus.length == 0 ?'no-sub': 'have-sub'">
                        <v-accordion ng-if="item.submenus">
                            <v-pane id="submenu-{{ submenu.ID }}" ng-repeat="submenu in item.submenus | orderBy:'SORT'" expanded="submenu.expand">
                                <v-pane-header class="lv2" ng-class="submenu.submenus == null ?'no-sub': 'have-sub'" ng-click="ctrl.onClickMenu(submenu.MENU_PATH,submenu)" layout="row" layout-align="start center">
                                    {{ ::submenu.MENU_NAME }}
                                    <img src="../../Content/icon/icon-triangle.svg">
                                </v-pane-header>
                                <v-pane-content class="lv2 no-sub">

                                </v-pane-content>

                            </v-pane>
                        </v-accordion>

                        <!--<v-accordion ng-if="item.ID=='73EB039BF2FC595AE05408002713F738'">
                            <v-pane id="submenu-{{ master.ID }}" ng-repeat="master in ctrl.masterDataMenuList | orderBy:'SORT'"
                                expanded="master.expand">
                                <v-pane-header class="lv2" ng-class="master.submenus == null ?'no-sub': 'have-sub'"
                                    ng-click="ctrl.onClickMasterDataMenu(master)" layout="row" layout-align="start center">
                                    {{ ::master.MASTER_MENU_NAME }}

                                </v-pane-header>
                                <v-pane-content class="lv2 no-sub">

                                </v-pane-content>

                            </v-pane>
                        </v-accordion>-->

                    </v-pane-content>
                </v-pane>
            </v-accordion>

        </nav>

        <div class="overlay-main" ng-click="ctrl.closeMenuMobile()" ng-if="!ctrl.activeMenuMobile"></div>

        <!--Content-->
        <div class="view-container" ng-view role="main" flex></div>
    </main>

</div>