@import "../../base/variables.scss";
@import "../../base/mixins.scss";

.is-require {
  position: absolute;
  padding-top: 1px;
  width: 100%;
  color: $color-18;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  top: 35px;
  left: 5px;
}

.inlabel-require {
  padding-top: 2px;
  color: $color-18 !important;
  font-size: 1rem;
  font-family: $sarabunNew-Bold;
  line-height: 14px;
  position: absolute;
  top: 3px;
  right: -5px;
}

.text-require {
  color: $color-18;
  font-size: 1.3rem;
  font-family: $sarabunNew-Bold;
  display: inline;
  vertical-align: top;
}

.text-note {
  width: 100%;
  color: $color-18;
  font-size: 20px;
  font-family: $sarabunNew-Bold;
  margin-top: 40px;
  transition: all, 0.2s;
}

.require-placeholder {
  font: {
    family: $sarabunNew-Normal;
    size: rem($input-FontSize-1);
  }

  color: $color-3;
  position: absolute;
  top: 2px;
  left: 2px;

  &::after {
    content: ' *';
    color: $color-18;
    font-size: 26px;
    vertical-align: top;
  }
}