﻿<md-tabs md-dynamic-height md-border-bottom>
    <md-tab id="tab1" ng-if="ctrl.editMode == false">
        <md-tab-label>เพิ่มพนักงาน</md-tab-label>
        <md-tab-body>
            <div class="wrapper-input" layout="row" layout-wrap>
                <md-input-container class="input-container">
                    <label>รหัสพนักงาน / เลขประจำตัว</label>
                    <md-select ng-change="ctrl.onChangeWorker(ctrl.toTS)" ng-model="ctrl.model.IDENTITY_USER_TYPE_ID">
                        <!--<md-option><em>None</em></md-option>-->
                        <md-option ng-repeat="item in ctrl.identityTypeList" ng-value="item.ID">
                            {{item.DATA_TOPIC}}
                        </md-option>

                    </md-select>
                </md-input-container>

                <md-input-container class="input-container">
                    <label>รหัสพนักงาน</label>
                    <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.EMPLOYEE_CODE" type="text" required>
                    <md-icon ng-click="ctrl.openDialogSearchPerson()" ng-if="ctrl.editMode == false">
                        <img src="../../Content/icon/icon-search.svg">
                    </md-icon>
                </md-input-container>

                <md-input-container class="input-container">
                    <label>คำนำหน้า</label>
                    <md-select ng-model="ctrl.model.PREFIX_ID" ng-required="true">
                        <md-option ng-repeat="item in ctrl.prefixtList" ng-value="item.ID">
                            {{item.DATA_TOPIC}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="input-container">
                    <label>ชื่อ</label>
                    <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.NAME_TH" required>
                </md-input-container>

                <md-input-container class="input-container">
                    <label>นามสกุล</label>
                    <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.LASTNAME_TH" required>
                </md-input-container>

                <md-input-container class="input-container">
                    <label>รหัสผู้ใช้งาน</label>
                    <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.LASTNAME_TH" required>
                </md-input-container>

                <md-input-container class="input-container">
                    <label>ตำแหน่ง</label>
                    <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.LASTNAME_TH" required>
                </md-input-container>

                <md-input-container class="input-container">
                    <label>ชื่อย่อตำแหน่ง</label>
                    <md-select ng-model="ctrl.model.MANAGEMENT_POSITION_ID" ng-required="true">
                        <md-option ng-repeat="item in ctrl.managementPositionList" ng-value="item.ID">
                            {{item.DATA_TOPIC}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="input-container">
                    <label>ระดับ</label>
                    <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.LEVEL_USER">
                </md-input-container>

                <md-input-container class="input-container">
                    <label>หน่วยงาน</label>
                    <md-select data-md-container-class="selectdemoSelectHeader" ng-model="ctrl.model.DEPARTMENT_ID" ng-required="true" md-on-close="ctrl.officeClearSearchTerm()">
                        <md-select-header class="demo-select-header">
                            <input class="demo-header-searchbox md-text" id="searchDep" ng-model="ctrl.textSearchDepartment" type="search" placeholder="ค้นหาหน่วยงาน">
                        </md-select-header>
                        <md-optgroup label="vegetables">
                            <md-option ng-repeat="item in ctrl.departmentlist  | filter:ctrl.textSearchDepartment" ng-value="item.ORG_CODE">{{item.ORG_NAME}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>

                <md-input-container class="input-container">
                    <label>อีเมล์</label>
                    <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.EMAIL">
                </md-input-container>

                <md-input-container class="input-container">
                        <label>วันเริ่มต้น</label>
                        <md-datepicker ng-model="ctrl.startDateFrom" md-hide-icons="triangle" md-min-date md-max-date="ctrl.startDateTo" required></md-datepicker>
                    </md-input-container>
            </div>

            <div class="input-container" flex-xs="50" flex-sm="50" flex-md="30" flex>
                <md-input-container class="have label-float" style="max-width: calc(100% - 5px)">
                    <label>วันสิ้นสุด</label>
                    <div flex-gt-xs="">
                        <md-datepicker ng-model="ctrl.startDateTo" md-min-date="ctrl.startDateFrom" md-max-date required></md-datepicker>
                    </div>
                </md-input-container>
            </div>
            <!--end start-date / end-date -->

            <div layout="column">
                <label flex="">กลุ่มสิทธิ์การเข้าใช้งาน</label>
                <md-input-container>
                    <label>ผู้ดูแลระบบ</label>
                    <md-select ng-model="ctrl.model.GROUP_NAME" ng-required="true">
                        <md-option ng-repeat="item in ctrl.grouplist" ng-value="item.RAWTOHEX(ID)">{{item.GROUP_NAME}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="btn-main" ng-click="ctrl.insertEmployee()" ng-if="ctrl.viewMode == false" flex="none">
                    <img src="../../Content/icon/icon-save.svg">
                    บันทึก
                </md-button>
                <md-button class="btn-main" ng-click="ctrl.viewMode = false" ng-if="ctrl.viewMode == false" flex="none">
                    <img src="../../Content/icon/icon-mail.svg">
                    ส่งอีเมล์
                </md-button>
                <md-button class="btn-cancel" ng-click="ctrl.cancelInsertEmployee()" ng-if="ctrl.viewMode == false" flex="none">
                    <img src="../../Content/icon/icon-cancel.svg">
                    ยกเลิก
                </md-button>
            </section>
        </md-tab-body>
    </md-tab>


    <md-tab id="tab2" ng-if="ctrl.editMode == true">
        <md-tab-label>แก้ไขพนักงาน</md-tab-label>
        <md-tab-body>

            <div layout="column">
                <label flex="">ประเภทผู้ใช้งาน</label>

                <md-input-container flex="">
                    <label>พนักงาน</label>
                    <md-select ng-change="ctrl.onChangeWorker(ctrl.toTS)" ng-model="ctrl.model.IDENTITY_USER_TYPE_ID">
                        <!--<md-option><em>None</em></md-option>-->
                        <md-option ng-repeat="item in ctrl.identityTypeList" ng-value="item.ID">
                            {{item.DATA_TOPIC}}
                        </md-option>

                    </md-select>
                </md-input-container>


            </div>


            <div layout="column">
                <div layout="row">
                    <md-input-container class="md-block" md-no-float>
                        <label>รหัสพนักงาน</label>
                        <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.EMPLOYEE_CODE" type="text" required>
                        <md-icon ng-click="ctrl.openDialogSearchPerson()" style="display:inline-block;"><span class="k-icon k-i-search"></span></md-icon>
                    </md-input-container>

                </div>
            </div>

            <div layout="column">
                <md-input-container>
                    <label>คำนำหน้า</label>
                    <md-select ng-model="ctrl.model.PREFIX_ID" ng-required="true">
                        <md-option ng-repeat="item in ctrl.prefixtList" ng-value="item.ID">
                            {{item.DATA_TOPIC}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container flex="">
                    <label>ชื่อ</label>
                    <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.NAME_TH" required>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container flex="">
                    <label>นามสกุล</label>
                    <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.LASTNAME_TH" required>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container flex="">
                    <label>รหัสผู้ใช้งาน</label>
                    <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.PASSWORD_USER" required>
                </md-input-container>
            </div>

            <div layout="column">
                <!--<label flex>ตำแหน่ง</label>-->
                <md-input-container>
                    <label>ตำแหน่ง</label>
                    <md-select ng-model="ctrl.model.POSITION_ID" ng-required="true">
                        <md-option ng-repeat="item in ctrl.positionlist" ng-value="item.ID">
                            {{item.DATA_TOPIC}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container>
                    <label>ชื่อย่อตำแหน่ง</label>
                    <md-select ng-model="ctrl.model.MANAGEMENT_POSITION_ID" ng-required="true">
                        <md-option ng-repeat="item in ctrl.managementPositionList" ng-value="item.ID">
                            {{item.DATA_TOPIC}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container flex="">
                    <label>ระดับ</label>
                    <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.LEVEL_USER">
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container>
                    <label>หน่วยงาน</label>
                    <md-select data-md-container-class="selectdemoSelectHeader" ng-model="ctrl.model.DEPARTMENT_ID" ng-required="true" md-on-close="ctrl.officeClearSearchTerm()">
                        <md-select-header class="demo-select-header">
                            <input class="demo-header-searchbox md-text" id="searchDep" ng-model="ctrl.textSearchDepartment" type="search" placeholder="ค้นหาหน่วยงาน">
                        </md-select-header>
                        <md-optgroup label="vegetables">
                            <md-option ng-repeat="item in ctrl.departmentlist  | filter:ctrl.textSearchDepartment" ng-value="item.ORG_CODE">{{item.ORG_NAME}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="column">
                <md-input-container flex="">
                    <label>อีเมล์</label>
                    <input ng-disabled="ctrl.viewMode" ng-model="ctrl.model.EMAIL">
                </md-input-container>
            </div>


            <!-- start-date / end-date -->
            <div class="input-container" flex-xs="50" flex-sm="50" flex-md="30" flex>
                <md-input-container class="have label-float" style="max-width: calc(100% - 5px)">
                    <label>วันเริ่มต้น</label>
                    <div flex-gt-xs="">
                        <md-datepicker ng-model="ctrl.startDateFrom" md-placeholder="Enter date" md-min-date md-max-date="ctrl.startDateTo" required></md-datepicker>
                    </div>
                </md-input-container>
            </div>



            <div class="input-container" flex-xs="50" flex-sm="50" flex-md="30" flex>
                <md-input-container class="have label-float" style="max-width: calc(100% - 5px)">
                    <label>วันสิ้นสุด</label>
                    <div flex-gt-xs="">
                        <md-datepicker ng-model="ctrl.startDateTo" md-placeholder="Enter date" md-min-date="ctrl.startDateFrom" md-max-date required></md-datepicker>
                    </div>
                </md-input-container>
            </div>
            <!--end start-date / end-date -->


            <div layout="column">
                <label flex="">กลุ่มสิทธิ์การเข้าใช้งาน</label>
                <md-input-container>
                    <label>ผู้ดูแลระบบ</label>
                    <md-select ng-model="ctrl.model.GROUP_NAME" ng-required="true">
                        <md-option ng-repeat="item in ctrl.grouplist" ng-value="item.RAWTOHEX(ID)">{{item.GROUP_NAME}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="btn-main" ng-click="ctrl.insertEmployee()" ng-if="ctrl.viewMode == false" flex="none">
                    <img src="../../Content/icon/icon-save.svg">
                    บันทึก
                </md-button>
                <md-button class="btn-main" ng-click="ctrl.viewMode = false" ng-if="ctrl.viewMode == false" flex="none">
                    <img src="../../Content/icon/icon-mail.svg">
                    ส่งอีเมล์
                </md-button>
                <md-button class="btn-cancel" ng-click="ctrl.mode = 0" ng-if="ctrl.viewMode == false" flex="none">
                    <img src="../../Content/icon/icon-cancel.svg">
                    ยกเลิก
                </md-button>
            </section>
        </md-tab-body>
    </md-tab>
</md-tabs>