﻿<!--<md-dialog aria-label="Mango (Fruit)">-->
    <!--<form ng-cloak>-->
        

        <div>
            <div layout="row" >
                <md-input-container flex-offset="5" flex="45">
                    <label>รหัสพนักงาน</label>
                    <input ng-model="ctrl.searchModel.employeeCode"
                          >
                </md-input-container>

                <md-input-container flex-offset="5" flex="45">
                    <label>ชื่อ-สกุล</label>
                    <input ng-model="ctrl.searchModel.name">
                </md-input-container>
            </div>

            <div layout="row">
                    <md-input-container flex-offset="5" flex="45">
                            <label>หน่วยงาน</label>
                            <md-select ng-model="ctrl.searchModel.delpartment" ng-required="true" md-on-close="ctrl.officeClearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                                <md-select-header class="demo-select-header">
                                    <input id="searchDep" ng-model="ctrl.textSearchDepartment"
                                           type="search"
                                           placeholder="ค้นหาหน่วยงาน"
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="vegetables">
                                    <md-option ng-value="item.HR_UNITCODECODE" ng-repeat="item in ctrl.departmentlist  | filter:ctrl.textSearchDepartment">{{item.ORG_NAME}}</md-option>
                                </md-optgroup>
                            </md-select>
                        
                    </md-input-container>


                <div flex hide-sm hidw-xs layout="row" layout-align="end center">
                    <md-button ng-click="ctrl.search_table()">ค้นหา</md-button>
                    <md-button ng-click="ctrl.re_search_table()">ค่าเริ่มต้น</md-button>
                </div>
            </div>
               

            <div id="example">
                <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.mainGridOptions"></div>
            </div>
        </div>


        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-dialog-actions layout="row">
                <!--<span flex></span>-->
                <md-button ng-click="ctrl.save()">
                    ตกลง
                </md-button>
                <md-button ng-click="ctrl.cancel()">
                    ยกเลิก
                </md-button>
            </md-dialog-actions>
        </section>
<!--</form>-->
<!--</md-dialog>-->