﻿<div ng-switch="fileUploadCtrl.type">
    <div layout="row" layout-wrap>
        <div ng-show="fileUploadCtrl.operation !='view'" flex="100" layout="row" style="margin-bottom:15px;">
            <div class="file-upload" flex="none">
                <label class="file-upload__label" for="{{fileUploadCtrl.type}}">
                    <img class="file-upload__icon" src="../../Content/icon/icon-import.svg">
                    {{fileUploadCtrl.txtlabel}}</label>
                <input class="file-upload__input" id="{{fileUploadCtrl.type}}" name="file-upload" type="file" multiple="multiple" file-input data="fileUploadCtrl.listupload">
            </div>
            <div class="file-upload__note" ng-show="fileUploadCtrl.operation !='view'" flex="none" layout="row" layout-align="center center">
                {{fileUploadCtrl.textcase}}
            </div>
        </div>

        <section class="file-upload__wrapper" ng-switch-when="img" flex="100">
            <div class="file-upload__info" ng-repeat="imageFile in fileUploadCtrl.uploadFile.imageFiles.files" ng-show="imageFile.state != 'delete'">
                <div layout="row" layout-align="center center">

                    <!--<div class="upload-info__checkbox " title="เลือกไฟล์" flex="none">
                        <md-checkbox ng-change="fileUploadCtrl.checkChange($index, fileUploadCtrl.uploadFile.imageFiles.files)" ng-model="fileUploadCtrl.imageFile.useProfile" aria-label="CheckboxuseProfile">
                        </ class="file-upload__wrapper"md-checkbox>
                    </div>-->

                    <div class="upload-info__name" ng-click="fileUploadCtrl.showcontent($index)" title="ดูภาพ" flex layout="row" layout-align="start center">
                        {{imageFile.file.name | limitTo: 100}} {{imageFile.file.name.length > 100 ? '...' : '' }}
                    </div>

                    <div class="upload-info__delete btn-grid" ng-click="fileUploadCtrl.deleteImageFile($index)" ng-show="fileUploadCtrl.isedit" title="ลบ" flex="none" layout="row" layout-align="center center">
                        <img ng-src="../../../Content/btn/delete_table_btn.png">
                    </div>

                </div>
            </div>

        </section>

        <section class="file-upload__wrapper" ng-switch-when="doc" flex="100">

            <div class="file-upload__info" ng-repeat="docFile in fileUploadCtrl.uploadFile.documentFiles.files" ng-show="docFile.state != 'delete'">
                <div layout="row" layout-align="center center">

                    <div class="upload-info__name" ng-click="fileUploadCtrl.showcontent($index)" title="ดาวน์โหลดไฟล์" flex layout="row" layout-align="start center">
                        {{docFile.file.name | limitTo: 100}} {{docFile.file.name.length > 100 ? '...' : '' }}
                    </div>

                    <div class="upload-info__delete btn-grid" ng-click="fileUploadCtrl.deleteDocFile($index)" ng-show="fileUploadCtrl.isedit" title="ลบ" flex="none" layout="row" layout-align="center center">
                        <img ng-src="../../../Content/btn/delete_table_btn.png">
                    </div>

                </div>
            </div>

        </section>

        <!--<div ng-keyup="onKeyup($event)" ng-show="havePicInGallery">
            <gallery ng-show="uploadFile.imageFiles.files.length!=0" func="galleryFunc" images="uploadFile.imageFiles.files"></gallery>
        </div>-->

    </div>
</div>