﻿<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom ng-if="ctrl.editMode == false">
            <md-tab label="เพิ่มลูกจ้าง" class="md-primary">
                <md-content class="md-padding">

                    <div layout="column">
                        <label flex>ประเภทผู้ใช้งาน</label>
                        <md-input-container>
                            <label>ลูกจ้างT</label>
                            <md-select ng-model="ctrl.model.IDENTITY_USER_TYPE_ID" ng-change="ctrl.onChangeWorker(ctrl.toTS)">
                                <!--<md-option><em>None</em></md-option>-->
                                <md-option ng-value="item.ID" ng-repeat="item in ctrl.identityTypeList">
                                {{item.DATA_TOPIC}}
                                </md-option>
                                
                            </md-select>

                        </md-input-container>

                    </div>

                    <div layout="column">
                        <md-input-container flex>
                            <label>เลขบัตรประชาชน</label>
                            <input ng-model="ctrl.model.EMPLOYEE_CODE"
                                   ng-disabled="ctrl.viewMode"
                                   required>
                            
                        </md-input-container>
                    </div>

                    <div layout="column">

                        <md-input-container class="have label-float">
                            <label>คำนำหน้า</label>
                            <md-select ng-model="ctrl.model.PREFIX_ID" ng-required="true">
                                <md-option ng-value="item.ID" ng-repeat="item in ctrl.prefixtList">
                                {{item.DATA_TOPIC}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <md-input-container flex>
                            <label>ชื่อ</label>
                            <input ng-model="ctrl.model.NAME_TH"
                                   ng-disabled="ctrl.viewMode"
                                   required>
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <md-input-container flex>
                            <label>นามสกุล</label>
                            <input ng-model="ctrl.model.LASTNAME_TH"
                                   ng-disabled="ctrl.viewMode"
                                   required>
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <md-input-container flex>
                            <label>รหัสผู้ใช้งาน</label>
                            <input ng-model="ctrl.model.PASSWORD_USER"
                                   ng-disabled="ctrl.viewMode"
                                   required>
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <label flex>ตำแหน่ง</label>
                        <md-input-container class="have label-float">
                            <label>คำนำหน้า</label>
                            <md-select ng-model="ctrl.model.POSITION_ID" ng-required="true">
                                <md-option ng-value="item.ID" ng-repeat="item in ctrl.positionlist">
                                {{item.DATA_TOPIC}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <md-input-container>
                            <label>หน่วยงาน</label>
                            <md-select ng-model="ctrl.model.DEPARTMENT_ID" ng-required="true" md-on-close="ctrl.officeClearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                                <md-select-header class="demo-select-header">
                                    <input id="searchDep" ng-model="ctrl.textSearchDepartment"
                                           type="search"
                                           placeholder="ค้นหาหน่วยงาน"
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="vegetables">
                                    <md-option ng-value="item.ORG_CODE" ng-repeat="item in ctrl.departmentlist  | filter:ctrl.textSearchDepartment">{{item.ORG_NAME}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>


                    <!-- start-date / end-date -->
                    <div class="input-container" flex-xs="50" flex-sm="50" flex-md="30" flex>
                        <md-input-container class="have label-float" style="max-width: calc(100% - 5px)">
                            <label>วันเริ่มต้น</label>
                            <div flex-gt-xs="">
                                <md-datepicker ng-model="ctrl.startDateFrom" md-placeholder="Enter date" md-min-date="" md-max-date="ctrl.startDateTo" required></md-datepicker>
                            </div>
                    </div>



                    <div class="input-container" flex-xs="50" flex-sm="50" flex-md="30" flex>
                        <md-input-container class="have label-float" style="max-width: calc(100% - 5px)">
                            <label>วันสิ้นสุด</label>
                            <div flex-gt-xs="">
                                <md-datepicker ng-model="ctrl.startDateTo" md-placeholder="Enter date" md-min-date="ctrl.startDateFrom" md-max-date="" required></md-datepicker>
                            </div>
                        </md-input-container>
                    </div>
                    <!--end start-date / end-date -->

                    <div layout="column">
                        <label flex>กลุ่มสิทธิ์การเข้าใช้งาน</label>
                        <md-input-container>
                            <label>ผู้ดูแลระบบ</label>
                            <md-select ng-model="ctrl.select" ng-required="true">
                                <md-option ng-value="item.RAWTOHEX(ID)" ng-repeat="item in ctrl.grouplist">{{item.GROUP_NAME}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    

                </md-content>
            </md-tab>   
        </md-tabs>

        

        <md-tabs md-dynamic-height md-border-bottom ng-if="ctrl.editMode == true">
            <md-tab label="แก้ไขลูกจ้าง" class="md-primary">
                <md-content class="md-padding">

                    <div layout="column">
                        <label flex>ประเภทผู้ใช้งาน</label>
                        <md-input-container>
                            <label>ลูกจ้างT</label>
                            <md-select ng-model="ctrl.model.IDENTITY_USER_TYPE_ID" ng-change="ctrl.onChangeWorker(ctrl.toTS)">

                                <!--<md-option><em>None</em></md-option>-->
                                <md-option ng-value="item.ID" ng-repeat="item in ctrl.identityTypeList">
                                    {{item.DATA_TOPIC}}
                                </md-option>

                            </md-select>

                        </md-input-container>

                    </div>

                    <div layout="column">
                        <md-input-container flex>
                            <label>เลขบัตรประชาชน</label>
                            <input ng-model="ctrl.model.ID_CARD"
                                   ng-disabled="ctrl.viewMode"
                                   required>

                        </md-input-container>
                    </div>

                    <div layout="column">

                        <md-input-container class="have label-float">
                            <label>คำนำหน้า</label>
                            <md-select ng-model="ctrl.model.PREFIX_ID" ng-required="true">
                                <md-option ng-value="item.ID" ng-repeat="item in ctrl.prefixtList">
                                    {{item.DATA_TOPIC}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <md-input-container flex>
                            <label>ชื่อ</label>
                            <input ng-model="ctrl.model.NAME_TH"
                                   ng-disabled="ctrl.viewMode"
                                   required>
                            <!--<md-option ng-value="item.ID" ng-repeat="item in ctrl.modelList">{{item.NAME_TH}}</md-option>-->
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <md-input-container flex>
                            <label>นามสกุล</label>
                            <input ng-model="ctrl.model.LASTNAME_TH"
                                   ng-disabled="ctrl.viewMode"
                                   required>
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <md-input-container flex>
                            <label>รหัสผู้ใช้งาน</label>
                            <input ng-model="ctrl.model.USER_CODE"
                                   ng-disabled="ctrl.viewMode"
                                   required>
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <label flex>ตำแหน่ง</label>
                        <md-input-container class="have label-float">
                            <label>ตำแหน่ง</label>
                            <md-select ng-model="ctrl.model.POSITION_ID" ng-required="true">
                                <md-option ng-value="item.ID" ng-repeat="item in ctrl.positionlist">
                                    {{item.DATA_TOPIC}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <md-input-container>
                            <label>หน่วยงาน</label>
                            <md-select ng-model="ctrl.model.DEPARTMENT_ID" ng-required="true" md-on-close="ctrl.officeClearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
                                <md-select-header class="demo-select-header">
                                    <input id="searchDep" ng-model="ctrl.textSearchDepartment"
                                           type="search"
                                           placeholder="ค้นหาหน่วยงาน"
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup label="vegetables">
                                    <md-option ng-value="item.ORG_CODE" ng-repeat="item in ctrl.departmentlist  | filter:ctrl.textSearchDepartment">{{item.ORG_NAME}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>


                    <!-- start-date / end-date -->
                    <div class="input-container" flex-xs="50" flex-sm="50" flex-md="30" flex>
                        <md-input-container class="have label-float" style="max-width: calc(100% - 5px)">
                            <label>วันเริ่มต้น</label>
                            <div flex-gt-xs="">
                                <md-datepicker ng-model="ctrl.startDateFrom" md-placeholder="Enter date" md-min-date="" md-max-date="ctrl.startDateTo" required></md-datepicker>
                            </div>
                        </md-input-container>
                    </div>



                    <div class="input-container" flex-xs="50" flex-sm="50" flex-md="30" flex>
                        <md-input-container class="have label-float" style="max-width: calc(100% - 5px)">
                            <label>วันสิ้นสุด</label>
                            <div flex-gt-xs="">
                                <md-datepicker ng-model="ctrl.startDateTo" md-placeholder="Enter date" md-min-date="ctrl.startDateFrom" md-max-date="" required></md-datepicker>
                            </div>
                        </md-input-container>
                    </div>
                    <!--end start-date / end-date -->
                    <div layout="column">
                        <label flex>กลุ่มสิทธิ์การเข้าใช้งาน</label>
                        <md-input-container>
                            <label>ผู้ดูแลระบบ</label>
                            <md-select ng-model="ctrl.model.GROUP_NAME" ng-required="true">
                                <md-option ng-value="item.RAWTOHEX(ID)" ng-repeat="item in ctrl.grouplist">{{item.GROUP_NAME}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>



                </md-content>
            </md-tab>
        </md-tabs>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-click="ctrl.saveOrUpdate()">บันทึก</md-button>
            <md-button class="md-raised md-primary" ng-if="ctrl.viewMode == false" ng-click="ctrl.viewMode = true" >ส่งอีเมล์</md-button>
            <md-button class="md-raised md-warn" ng-click="ctrl.clearData()">ยกเลิก</md-button>
        </section> 
    </md-content>

    
</div>

