﻿<div class="input-container" layout="row" layout-align-xs="center center" layout-align="end center">
    <div class="input-container">
        <md-input-container class="have label-float" style="width: 300px;">
            <label>ชื่อโครงการ</label>
            <md-select ng-model="rtReportCtrl.ProvinceID">
                <md-option ng-repeat="C in rtReportCtrl.porvinceList" ng-value="C.ID">{{C.PROVINCE_NAME_TH}}</md-option>
            </md-select>
        </md-input-container>
    </div>    
    <div class="input-container">
        <md-input-container class="have label-float" style="width: 300px;">
            <label>จังหวัด</label>
            <md-select ng-model="rtReportCtrl.ProvinceID">
                <md-option ng-repeat="C in rtReportCtrl.porvinceList" ng-value="C.ID">{{C.PROVINCE_NAME_TH}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="input-container">
        <md-input-container class="have label-float" style="width: 300px;">
            <label>โฉนดเลขที่</label>
            <md-select ng-model="rtReportCtrl.ProvinceID">
                <md-option ng-repeat="C in rtReportCtrl.porvinceList" ng-value="C.ID">{{C.PROVINCE_NAME_TH}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div class="input-container">
        <md-input-container class="have label-float" style="width: 300px;">
            <label>สัญญาเลขที่</label>
            <md-select ng-model="rtReportCtrl.ProvinceID">
                <md-option ng-repeat="C in rtReportCtrl.porvinceList" ng-value="C.ID">{{C.PROVINCE_NAME_TH}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="input-container">
        <md-input-container class="have label-float" style="width: 300px;">
            <label>ช่วงวันที่ทำสัญญา</label>
            <md-select ng-model="rtReportCtrl.ProvinceID">
                <md-option ng-repeat="C in rtReportCtrl.porvinceList" ng-value="C.ID">{{C.PROVINCE_NAME_TH}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="input-container">
        <md-input-container class="have label-float" style="width: 300px;">
            <label>ถึงวันที่</label>
            <md-select ng-model="rtReportCtrl.ProvinceID">
                <md-option ng-repeat="C in rtReportCtrl.porvinceList" ng-value="C.ID">{{C.PROVINCE_NAME_TH}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="input-container">
        <md-input-container class="have label-float" style="width: 300px;">
            <label>ผู้แจ้ง(หน่วยงานภายนอก)</label>
            <md-select ng-model="rtReportCtrl.ProvinceID">
                <md-option ng-repeat="C in rtReportCtrl.porvinceList" ng-value="C.ID">{{C.PROVINCE_NAME_TH}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="input-container">
        <md-input-container class="have label-float" style="width: 300px;">
            <label>เรื่อง</label>
            <md-select ng-model="rtReportCtrl.ProvinceID">
                <md-option ng-repeat="C in rtReportCtrl.porvinceList" ng-value="C.ID">{{C.PROVINCE_NAME_TH}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <md-input-container class="have label-float" layout="row" layout-align-xs="center center" layout-align="end center">
        <md-button class="main-btn" ng-click="rtReportCtrl.getReport()" layout="row" layout-align="center center">
            <img ng-src="../../../Content/icon/icon-search.svg">ออกรายงาน
        </md-button>
        <md-button class="main-btn" ng-click="rtReportCtrl.clear()" layout="row" layout-align="center center">
            <img ng-src="../../../Content/icon/icon-reset.svg">ล้างค่า
        </md-button>
    </md-input-container>
</div>

<form id="frmForSubmitParameter" method="post">
    <input id="JsonParameter" name="JsonParameter" type="hidden">
</form>