// variable
@import "../../base/variables.scss";
// use for plugin family.scss
// @import "../../plugin/family/family.scss";

.btn-main, .btn-cancel {

    // background: linear-gradient(180deg, rgba(73,76,76, 1), rgba(12,12,12, 1));
    border: {
        radius: 7px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    @include MQ(XS) {
        width: calc(100% - 20px);
    }
    @include MQ(SM) {
        width: calc(50% - 20px);
    }
}

.btn-main[disabled] {
    color: rgba(255, 255, 255, 0.38);
    cursor: not-allowed;
}

.btn-main:not([disabled]) {
    background: {
        color: $color-5_61A;
    }

    color: $color-6_61A;

    font: {
        size: rem($input-FontSize-1);
    }

    &.md-focused {
        background: {
            color: $color-5_61A;
        }
    }

    &.md-button:not([disabled]):hover {
        background: {
            color: lighten($color-5_61A, 5%);
        }
    }
}

.btn-cancel {
    img {
        filter: grayscale(100%);
    }
}
.btn-cancel:not([disabled]) {
    // background: linear-gradient(180deg, rgba(73, 76, 76, 1), rgba(12, 12, 12, 1));

    background: {
        color: $color-10_61A;
    }

    color: $color-2_61A;

    font: {
        size: rem($input-FontSize-1);
    }

    &.md-focused {
        background: {
            color: $color-7;
        }
    }

    &.md-button:not([disabled]):hover {
        background: {
            color: darken($color-10_61A, 5%);
        }
    }
}

.img-as-btn {
    &:hover {
        cursor: pointer;
    }
}

.btn-grid-option {
    margin: 0 5px;
    cursor: pointer;
}

.md-button:not([disabled]) {
    &.md-focused {
        background: {
            color: $color-5_61A;
        }
    }
}

// Demo
.menu-toggle {
    position: relative;
    display: block;
    width: 34px;
    height: 24px;
    margin-right: 10px;

    background: transparent;
    border-top: 3px solid;
    border-bottom: 3px solid;

    color: $color-2_61A;
    font-size: 0;

    transition: all .25s ease-in-out;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;

        position: absolute;
        top: 50%;
        left: 50%;

        background: currentColor;

        transform: translate(-50%, -50%);
        transition: transform .25s ease-in-out;
    }

    &:hover {
        color: lighten($color-6_61A, 15%);
    }

    &.is-active {
        border-color: transparent;

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

button {
    border: none;
    outline: none;
}