// variable
@import "../../base/variables.scss";
@import "../../base/mixins.scss";

.wrapper-header-toppic {
    border-bottom: 3px solid $color-5_61A;
    margin-bottom: 15px;
    &.no-border {
        border: none;
    }
}

.header-toppic {
    color: $color-7_61A;
    font-family: $sarabunNew-Bold;
    font-size: rem($header-FontSize-1);
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .toppic-intab {
//     color: $color-7_61A;
//     font-family: $sarabunNew-Normal;
//     font-size: rem($header-FontSize-4);
// }