﻿<div layout="row" layout-wrap class="content-padding">
    <div ng-show="ctrl.mode == 0">

        <div class="wrapper-header-toppic">
            <div class="header-toppic">
                การค้นหา : ข้อมูลประกาศจัดการที่ดิน
            </div>
        </div>

        <form name="ctrl.formSearch" novalidate>
            <div class="wrapper-input" layout="row" layout-wrap>

                <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                    <label>วันที่ประกาศ</label>
                    <md-datepicker name="NOTICE_DATE" ng-model="ctrl.modelSearch.NOTICE_DATE" md-hide-icons="triangle" ng-required="ctrl.modelSearch.NOTICE_DATE_TO!=undefined"></md-datepicker>
                </md-input-container>
                <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                    <label>ถึงวันที่</label>
                    <md-datepicker name="NOTICE_DATE_TO" ng-model="ctrl.modelSearch.NOTICE_DATE_TO" md-hide-icons="triangle" ng-required="ctrl.modelSearch.NOTICE_DATE!=undefined"></md-datepicker>
                </md-input-container>
                <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                    <label>ประกาศฉบับที่</label>                   
                    <input name="ANNOUNCEMENTS_NO" ng-model="ctrl.modelSearch.ANNOUNCEMENTS_NO" type="text">
                </md-input-container>
                <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                    <label>ชื่อผู้เสนอขาย</label>
                    <input name="OFFER_SALE_NAME" type="text" ng-model="ctrl.modelSearch.OFFER_SALE_NAME">
                </md-input-container>
                <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                    <label>วันที่เสนอขาย</label>
                    <md-datepicker name="OFFER_SALE_DATE" ng-model="ctrl.modelSearch.OFFER_SALE_DATE" md-hide-icons="triangle" ng-required="ctrl.modelSearch.OFFER_SALE_DATE_TO!=undefined"></md-datepicker>
                </md-input-container>
                <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                    <label>ถึงวันที่</label>
                    <md-datepicker name="OFFER_SALE_DATE_TO" ng-model="ctrl.modelSearch.OFFER_SALE_DATE_TO" md-hide-icons="triangle" ng-required="ctrl.modelSearch.OFFER_SALE_DATE!=undefined"></md-datepicker>
                </md-input-container>

                <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                    <label>มติจัดซื้อ</label>
                    <input name="APPROVE_SALE" type="text" ng-model="ctrl.modelSearch.APPROVE_SALE">
                </md-input-container>
                <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                    <label>โฉนด/น.ส.3ก/น.ส.3/ส.ค.1 เลขที่</label>
                    <input name="DEED_NO" type="text" ng-model="ctrl.modelSearch.DEED_NO">
                </md-input-container>
                <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                    <label>เลขที่ดิน</label>
                    <input name="LAND_NO" type="text" ng-model="ctrl.modelSearch.LAND_NO">
                </md-input-container>
                <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                    <label>หน้าสำรวจ</label>
                    <input name="SURVEY_PAGE" type="text" ng-model="ctrl.modelSearch.SURVEY_PAGE">
                </md-input-container>
                <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                    <label>ชื่อเจ้าของกรรมสิทธิ์ (เดิม)</label>
                    <input name="OWNERSHIP_ORIGINAL" type="text" ng-model="ctrl.modelSearch.OWNERSHIP_ORIGINAL">
                </md-input-container>

                <selection-area-address form="ctrl.formSearch"
                                        mode="ctrl.mode"
                                        required="false"
                                        province-selected="ctrl.modelSearch.PROVINCE_ID"
                                        district-selected="ctrl.modelSearch.DISTRICT_ID"
                                        subdistrict-selected="ctrl.modelSearch.SUBDISTRICT_ID"
                                        on-clear ="ctrl.clearSelectionArea"></selection-area-address>
            </div>


            <div style="margin-top: 30px;">


                <div layout="row">
                    <div flex="">
                        <md-button class ng-click="ctrl.addAnnouncement()">
                            <img ng-src="Content/btn/add_data_btn.png">
                        </md-button>
                    </div>

                    <div flex="none">

                        <md-button class ng-click="ctrl.Search()" layout-align="end center">
                            <img ng-src="Content/btn/search_btn.png">
                        </md-button>
                        <md-button class ng-click="ctrl.Clear()" layout-align="end center">
                            <img ng-src="Content/btn/reset_btn.png">
                        </md-button>
                    </div>

                </div>
            </div>
        </form>

        <div>
            <grid-management style="width:100%;" 
                             g-option="ctrl.gridOptions" 
                             on-callback-edit="ctrl.gridCallbackEdit" 
                             on-callback-del="ctrl.gridCallbackDel"
                             on-callback-view="ctrl.gridCallbackView">

            </grid-management>
        </div>

    </div>

    <div ng-if="ctrl.mode != 0">
        <announcement-tabs announcement-id="ctrl.announcementSelectedId" mode="ctrl.mode"></announcement-tabs>
    </div>
</div>