﻿<div>
    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ครั้งที่พิจารณา</label>
            <input name="CONSIDER_NO" ng-model="ctrl.modelSave.CONSIDER_NO" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>วันที่พิจารณา</label>
            <md-datepicker name="CONSIDER_DATE" ng-model="ctrl.modelSave.CONSIDER_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>


        <!-- *******************************************ข้อมูลราคาประเมินบริษัทเอกชน********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>ข้อมูลราคาประเมินบริษัทเอกชน</h3>
        </div>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>บริษัทที่ 1</label>
            <input name="ESTIMATE_COMPANY_NAME1" ng-model="ctrl.modelSave.ESTIMATE_COMPANY_NAME1" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาประเมินต่อไร่</label>
            <input name="ESTIMATE_PRICE_RAI_COMPANY1" ng-model="ctrl.modelSave.ESTIMATE_PRICE_RAI_COMPANY1" type="text" >
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>เอกสารรายงานการประเมิน</label>
            <input name="" ng-model="" type="file">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>บริษัทที่ 2</label>
            <input name="ESTIMATE_COMPANY_NAME2" ng-model="ctrl.modelSave.ESTIMATE_COMPANY_NAME2" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาประเมินต่อไร่</label>
            <input name="ESTIMATE_PRICE_RAI_COMPANY2" ng-model="ctrl.modelSave.ESTIMATE_PRICE_RAI_COMPANY2" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>เอกสารรายงานการประเมิน</label>
            <input name="" ng-model="" type="file">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาประเมินเฉลี่ยต่อไร่</label>
            <input name="AVERAGE_COMPANY_OF_RAI2" ng-model="ctrl.modelSave.AVERAGE_COMPANY_OF_RAI2" type="text">
        </md-input-container>

        <!-- *******************************************ข้อมูลราคาประเมินราชการ********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>ข้อมูลราคาประเมินราชการ</h3>
        </div>
       
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาประเมินต่อไร่</label>
            <input name="ESTIMATE_PRICE_RAI_GOVERNMENT" ng-model="ctrl.modelSave.ESTIMATE_PRICE_RAI_GOVERNMENT" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>เอกสารรายงานการประเมิน</label>
            <input name="" ng-model="" type="file">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ข้อมูลราคาประเมินหน่วยงานอื่น</label>
            <input name="ESTIMATE_PRICE_DEPARTMENT" ng-model="ctrl.modelSave.ESTIMATE_PRICE_DEPARTMENT" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาประเมินต่อไร่</label>
            <input name="ESTIMATE_PRICE_RAI_DEPARTMENT" ng-model="ctrl.modelSave.ESTIMATE_PRICE_RAI_DEPARTMENT" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>เอกสารรายงานการประเมิน</label>
            <input name="" ng-model="" type="file">
        </md-input-container>


        <!-- *******************************************ยอดจอง********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>ยอดจอง</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>จำนวนหน่วยก่อสร้าง</label>
            <input name="UNIT_BULIDING" ng-model="ctrl.modelSave.UNIT_BULIDING" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ยอดจอง</label>
            <input name="PRE_SALE" ng-model="ctrl.modelSave.PRE_SALE" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>สัดส่วนยอดจอง</label>
            <input name="PRE_SALE_RATION" ng-model="ctrl.modelSave.PRE_SALE_RATION" type="text">
        </md-input-container>

        <!-- *******************************************คณะกรรมการต่อรองราคาเสนอขาย********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>คณะกรรมการต่อรองราคาเสนอขาย</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ครั้งที่พิจารณา</label>
            <input name="OFFER_CONSIDER_NO" ng-model="ctrl.modelSave.OFFER_CONSIDER_NO" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>วันที่ต่อรองราคา</label>
            <md-datepicker name="BEFORE_BARGAIN_DATE" ng-model="ctrl.modelSave.BEFORE_BARGAIN_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>


        <!-- *******************************************เนื้อที่ดินก่อนต่อรองราคา********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>เนื้อที่ดินก่อนต่อรองราคา</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>ไร่</label>
            <input name="BEFORE_BARGAIN_RAI" ng-model="ctrl.modelSave.BEFORE_BARGAIN_RAI" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>งาน</label>
            <input name="BEFORE_LAND_NGAN" ng-model="ctrl.modelSave.BEFORE_LAND_NGAN" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>วา</label>
            <input name="BEFORE_LAND_WA" ng-model="ctrl.modelSave.BEFORE_LAND_WA" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาที่ดินที่ต่อรอง</label>
            <input name="AFTER_BARGAIN_RAI" ng-model="ctrl.modelSave.AFTER_BARGAIN_RAI" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รูปแบบอาคารที่ต่อรอง</label>
            <input name="BUILDING_STYLE" ng-model="ctrl.modelSave.BUILDING_STYLE" type="text" md-maxlength="3000">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>จำนวนหน่วย</label>
            <input name="NUMBER_UNIT" ng-model="ctrl.modelSave.NUMBER_UNIT" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาต่อหน่วย</label>
            <input name="PRICE_PER_UNIT" ng-model="ctrl.modelSave.PRICE_PER_UNIT" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>เงื่อนไขการต่อรอง</label>
            <input name="BARGAIN_TERM" ng-model="ctrl.modelSave.BARGAIN_TERM" type="text" md-maxlength="3000">
        </md-input-container>

        <!-- *******************************************เนื้อที่ดินต่อรองราคา********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>เนื้อที่ดินต่อรองราคา</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>ไร่</label>
            <input name="AFTER_LAND_RAI" ng-model="ctrl.modelSave.AFTER_LAND_RAI" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>งาน</label>
            <input name="AFTER_LAND_NGAN" ng-model="ctrl.modelSave.AFTER_LAND_NGAN" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>วา</label>
            <input name="AFTER_LAND_WA" ng-model="ctrl.modelSave.AFTER_LAND_WA" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>วันที่พิจารณาจำนวนหน่วยหลังการต่อรอง</label>
            <md-datepicker name="AFTER_BARGAIN_DATE" ng-model="ctrl.modelSave.AFTER_BARGAIN_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาที่ดินหลังที่ต่อรองราคาครั้งแรก(ต่อไร่)</label>
            <input name="BARGAIN_FIRST_RAI" ng-model="ctrl.modelSave.BARGAIN_FIRST_RAI" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาซื้อต่อหน่วยหลังต่อรองราคาครั้งแรก</label>
            <input name="BARGAIN_FIRST_PRICE" ng-model="ctrl.modelSave.BARGAIN_FIRST_PRICE" type="text" md-maxlength="3000">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาที่ดินหลังที่ต่อรองราคาครั้งสุดท้าย(ต่อไร่)</label>
            <input name="BARGAIN_LAST_RAI" ng-model="ctrl.modelSave.BARGAIN_LAST_RAI" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาซื้อต่อหน่วยหลังต่อรองราคาครั้งสุดท้าย</label>
            <input name="BARGAIN_LAST_PRICE" ng-model="ctrl.modelSave.BARGAIN_LAST_PRICE" type="text" md-maxlength="3000">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาที่ดินรวม</label>
            <input name="SUM_PRICE_AREA" ng-model="ctrl.modelSave.SUM_PRICE_AREA" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาซื้อต่อหน่วย</label>
            <input name="SALE_PER_UNIT" ng-model="ctrl.modelSave.SALE_PER_UNIT" type="text">
        </md-input-container>
       
        <!-- ***********************************************คณะกรรมการพิจารณาคัดเลือกเพื่อเสนออนุมัติซื้อ************************************************** -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>คณะกรรมการพิจารณาคัดเลือกเพื่อเสนออนุมัติซื้อ</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ครั้งที่ประชุมพิจารณา</label>
            <input name="CONSULT_MEETING_NO" ng-model="ctrl.modelSave.CONSULT_MEETING_NO" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>วันที่พิจารณา</label>
            <md-datepicker name="CONSULT_MEETING_DATE" ng-model="ctrl.modelSave.CONSULT_MEETING_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>

   
        <!-- ****************เนื้อที่ที่ขออนุมัติซื้อ***************** -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>เนื้อที่ที่ขออนุมัติซื้อ</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>ไร่</label>
            <input name="PURCHASE_RAI" ng-model="ctrl.modelSave.PURCHASE_RAI" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>งาน</label>
            <input name="PURCHASE_NGAN" ng-model="ctrl.modelSave.PURCHASE_NGAN" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>วา</label>
            <input name="PURCHASE_WA" ng-model="ctrl.modelSave.PURCHASE_WA" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาที่ดินซื้อต่อไร่</label>
            <input name="PURCHASE_AMOUNT_OF_RAI" ng-model="ctrl.modelSave.PURCHASE_AMOUNT_OF_RAI" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาที่ดินรวม</label>
            <input name="PURCHASE_SUM_PRICE_LAND" ng-model="ctrl.modelSave.PURCHASE_SUM_PRICE_LAND" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>จำนวนหน่วย</label>
            <input name="PURCHASE_UNIT_VALUE" ng-model="ctrl.modelSave.PURCHASE_UNIT_VALUE" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาต่อหน่วย</label>
            <input name="PURCHASE_PRICE_OF_UNIT" ng-model="ctrl.modelSave.PURCHASE_PRICE_OF_UNIT" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>เลขที่บันทึกอนุมัติซื้อ</label>
            <input name="PURCHASE_NO" ng-model="ctrl.modelSave.PURCHASE_NO" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>วันที่อนุมัติซื้อ</label>
            <input name="PURCHASE_DATE" ng-model="ctrl.modelSave.PURCHASE_DATE" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>เรื่อง</label>
            <input name="PURCHASE_SUBJECT" ng-model="ctrl.modelSave.PURCHASE_SUBJECT" type="text">
        </md-input-container>
    </div>

</div>