﻿<div>
    <div class="setting-email">
        <div layout="row">
            <label flex>การตั้งค่า SMTP Front-End</label>
            <md-button class="md-raised md-warn" ng-if="ctrl.SMTP_editMode == false" ng-click="ctrl.editMode_SMTP()">แก้ไข</md-button>
            <md-button class="md-raised md-warn" ng-if="ctrl.SMTP_editMode == true" ng-click="ctrl.saveMode_SMTP()">บันทึก</md-button>
            <md-button class="md-raised md-warn" ng-if="ctrl.SMTP_editMode == true" ng-click="ctrl.CancelEditMode_SMTP()">ยกเลิก</md-button>
        </div>
        <hr />
        <div>
            <md-input-container class="md-block">
                <label>E-mail Server</label>
                <input ng-model="ctrl.dataIdentiySMTP.EMAIL_SERVER" ng-disabled="!ctrl.SMTP_editMode" required>
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block">
                <label>Port Server</label>
                <input ng-model="ctrl.dataIdentiySMTP.PORT_SERVER" ng-disabled="!ctrl.SMTP_editMode" required>
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block">
                <label>User E-mail</label>
                <input ng-model="ctrl.dataIdentiySMTP.USER_EMAIL" ng-disabled="!ctrl.SMTP_editMode" required>
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block">
                <label>Password E-mail</label>
                <input ng-model="ctrl.dataIdentiySMTP.PASSWORD_EMAIL" ng-disabled="!ctrl.SMTP_editMode" required>
            </md-input-container>
        </div>

        <div layout="row">
            <label flex>การกำหนดข้อความอีเมล์</label>
        </div>
        <hr />
        <div layout="row">
            <div flex>
                <label flex>อีเมล์แจ้งตือน OTP</label>
                <md-button class="md-icon-button test-tooltip" aria-label="info">
                    <md-tooltip md-direction="right">
                        <p>ตัวแปร</p>
                        <p>@username = รหัสผู้ใช้</p>
                        <p>@name = ชื่อ-สกุล</p>
                        <p>@OTP = รหัส OTP</p>
                        <p>@time = เวลาที่กำหนด</p>
                    </md-tooltip>

                    <img src="../../../../Content/btn/info_btn.jpg"
                         style="width: 24px; height: 24px" />

                </md-button>
            </div>

            <md-button class="md-raised md-warn" ng-if="ctrl.OTP_editMode == false" ng-click="ctrl.editMode_OTP()">แก้ไข</md-button>
            <md-button class="md-raised md-warn" ng-if="ctrl.OTP_editMode == true" ng-click="ctrl.saveMode_SMTP()">บันทึก</md-button>
            <md-button class="md-raised md-warn" ng-if="ctrl.OTP_editMode == true" ng-click="ctrl.CancelEditMode_OTP()">ยกเลิก</md-button>
        </div>
        <hr />
        <div>
            <md-input-container class="md-block">
                <label>หัวข้ออีเมล์</label>
                <input ng-model="ctrl.dataIdentiySMTP.SUBJECT_OTP" ng-disabled="!ctrl.OTP_editMode" required>
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block">
                <label>ข้อความ</label>
                <textarea ng-model="ctrl.dataIdentiySMTP.MASSAGE_OTP" md-maxlength="150" rows="5" md-select-on-focus ng-disabled="!ctrl.OTP_editMode"></textarea>
            </md-input-container>
        </div>

        <div layout="row">
            <div flex>
                <label>อีเมล์แจ้งตือนการเปลี่ยนรหัสผ่าน</label>
                <md-button class="md-icon-button test-tooltip" aria-label="info">
                    <md-tooltip md-direction="right">
                        <p>ตัวแปร</p>
                        <p>@username = รหัสผู้ใช้</p>
                        <p>@ini_pass = รหัสดั้งเดิม</p>
                        <p>@name = ชื่อ-สกุล</p>
                    </md-tooltip>
                    <img src="../../../../Content/btn/info_btn.jpg"
                         style="width: 24px; height: 24px" />
                </md-button>
            </div>

            <md-button class="md-raised md-warn" ng-if="ctrl.ChangePass_editMode == false" ng-click="ctrl.editMode_ChangePass()">แก้ไข</md-button>
            <md-button class="md-raised md-warn" ng-if="ctrl.ChangePass_editMode == true" ng-click="ctrl.saveMode_SMTP()">บันทึก</md-button>
            <md-button class="md-raised md-warn" ng-if="ctrl.ChangePass_editMode == true" ng-click="ctrl.CancelEditMode_ChangePass()">ยกเลิก</md-button>
        </div>
        <hr />
        <div>
            <md-input-container class="md-block">
                <label>หัวข้ออีเมล์</label>
                <input ng-model="ctrl.dataIdentiySMTP.SUBJECT_EMAIL" ng-disabled="!ctrl.ChangePass_editMode" required>
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block">
                <label>ข้อความ</label>
                <textarea ng-model="ctrl.dataIdentiySMTP.MASSAGE_EMAIL" md-maxlength="150" rows="5" md-select-on-focus ng-disabled="!ctrl.ChangePass_editMode"></textarea>
            </md-input-container>
        </div>
    </div>
</div>
    <style>
        .setting-email {
        }

        .md-tooltip {
            height: auto;
            line-height: 2.5px;
        }
    </style>
