﻿<div>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>รายละเอียด</h3></label>
    </div>

    <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="33">
        <label>ประกาศฉบับที่</label>
        <md-select ng-model="ctrl.modelSave.ANNOUNCEMENTS_NO" placeholder="ประกาศฉบับที่">
            <md-option ng-repeat="item in ctrl.modelSave.ANNOUNCEMENTS_NO_LIST" ng-value="item.ID">{{item.DATA_TOPIC}}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
        <label>รหัสโครงการ, ชื่อโครงการ</label>
        <input name="PROJECT_ID" ng-model="ctrl.modelSave.PROJECT_ID" type="text">
    </md-input-container>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>ที่ตั้ง</h3></label>
    </div>

    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>แขวง/ตำบล</label>
            <input name="SUBDISTRICT_ID" ng-model="ctrl.modelSave.SUBDISTRICT_ID" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>เขต/อำเภอ</label>
            <input name="DISTRICT_ID" ng-model="ctrl.modelSave.DISTRICT_ID" md-hide-icons="triangle">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>จังหวัด</label>
            <input name="PROVINCE_ID" ng-model="ctrl.modelSave.PROVINCE_ID" md-hide-icons="triangle">
        </md-input-container>
    </div>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ชื่อผู้เสนอขาย</label>
        <input name="OFFER_SALE_NAME" ng-model="ctrl.modelSave.OFFER_SALE_NAME" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ผังเมือง</label>
        <input name="CITY_PLANNING_ID" ng-model="ctrl.modelSave.CITY_PLANNING_ID" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>นอกเขตผังเมือง</label>
        <input name="TOWN_PLAN_OUT" ng-model="ctrl.modelSave.TOWN_PLAN_OUT" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>รายละเอียดผังเมือง/นอกเขตผังเมือง</label>
        <input name="DESC_TOWN_PLAN_OUT" ng-model="ctrl.modelSave.DESC_TOWN_PLAN_OUT" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>รูปแบบอาคาร</label>
        <input name="BUILDING_MODEL" ng-model="ctrl.modelSave.BUILDING_MODEL" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="33">
        <label>หน่วยงานที่รับผิดชอบ</label>
        <md-select ng-model="ctrl.modelSave.AGENCY_RESPONSIBLE_ID" placeholder="หน่วยงานที่รับผิดชอบ">
            <md-option ng-repeat="item in ctrl.modelSave.AGENCY_RESPONSIBLE_ID_LIST" ng-value="item.ID">{{item.DATA_TOPIC}}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="33">
        <label>หน่วยงานจัดซื้อ</label>
        <md-select ng-model="ctrl.modelSave.AGENCY_PURCHASE_ID" placeholder="หน่วยงานจัดซื้อ">
            <md-option ng-repeat="item in ctrl.modelSave.AGENCY_PURCHASE_ID" ng-value="item.ID">{{item.DATA_TOPIC}}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
        <label>วันที่ ผว. พิจารณา</label>
        <md-datepicker name="CONSIDER_DATE" ng-model="ctrl.modelSave.CONSIDER_DATE" md-hide-icons="triangle"></md-datepicker>
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
        <label>วันที่คณะกรรมการกลั่นกรอง</label>
        <md-datepicker name="BOARD_DATE" ng-model="ctrl.modelSaveBOARD_DATE" md-hide-icons="triangle"></md-datepicker>
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>วันที่อนุมัติ</label>
        <input name="PURCHASE_APPROVE_DATE" ng-model="ctrl.modelSave.PURCHASE_APPROVE_DATE" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>บอร์ดอนุมัติจัดซื้อครั้งที่</label>
        <input name="BOARD_NO" ng-model="ctrl.modelSave.BOARD_NO" md-hide-icons="triangle">
    </md-input-container>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>ข้อมูลประเมินที่ดิน 2 บริษัท</h3></label>
    </div>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>บริษัทที่ 1</label>
        <input name="ESTIMATE_COMPANY_NAME1" ng-model="ctrl.modelSave.ESTIMATE_COMPANY_NAME1" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ราคาประเมินต่อไร่1</label>  <!--ราคาประเมินต่อไร่ บ.1-->
        <input name="ESTIMATE_PRICE_RAI_COMPANY1" ng-model="ctrl.modelSave.ESTIMATE_PRICE_RAI_COMPANY1" md-hide-icons="triangle">
    </md-input-container>

    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>เอกสารรายงานประเมิน</label>
        </md-input-container>

        <md-button class="" ng-click="ctrl.Download_Doc()" layout-align="end center">
            <img ng-src="Content/btn/download_btn.png">
        </md-button>
    </div>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>บริษัทที่ 2</label>
        <input name="ESTIMATE_COMPANY_NAME2" ng-model="ctrl.modelSave.ESTIMATE_COMPANY_NAME1" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ราคาประเมินต่อไร่2</label>  <!--ราคาประเมินต่อไร่ บ.2-->
        <input name="ESTIMATE_PRICE_RAI_COMPANY2" ng-model="ctrl.modelSave.ESTIMATE_PRICE_RAI_COMPANY1" md-hide-icons="triangle">
    </md-input-container>

    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>เอกสารรายงานการประเมิน</label>
        </md-input-container>

        <md-button class="" ng-click="ctrl.Download_Doc()" layout-align="end center">
            <img ng-src="Content/btn/download_btn.png">
        </md-button>
    </div>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ราคาประเมินเฉลี่ยต่อไร่</label>
        <input name="AVERAGE_COMPANY_OF_RAI2" ng-model="ctrl.modelSave.AVERAGE_COMPANY_OF_RAI2" md-hide-icons="triangle">
    </md-input-container>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>ข้อมูลราคาประเมินราชการ</h3></label>
    </div>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ราคาประเมินต่อไร่</label>   <!--ราคาประเมินต่อไร่ราชการ-->
        <input name="ESTIMATE_PRICE_RAI_GOVERNMENT" ng-model="ctrl.modelSave.ESTIMATE_PRICE_RAI_GOVERNMENT" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>เอกสารราคาประเมินราชการ</label>   <!--1คือ บริษัทเอกชน1 2คือ บริษัทเอกชน2 3คือ ราชการ 4คือหน่วยงานอื่นๆ-->
        <input name="COMPANY_NUMBER" ng-model="ctrl.modelSave.COMPANY_NUMBER" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ข้อมูลราคาประเมินหน่วยงานอื่นๆ</label>
        <input name="ESTIMATE_PRICE_DEPARTMENT" ng-model="ctrl.modelSave.ESTIMATE_PRICE_DEPARTMENT" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ราคาประเมินต่อไร่</label>   <!--ราคาประเมินต่อไร่หน่วยงานอื่น-->
        <input name="AVERAGE_COMPANY_OF_RAI2" ng-model="ctrl.modelSave.AVERAGE_COMPANY_OF_RAI2" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>เอกสารราคาประเมินหน่วยงานอื่นๆ</label>   <!--1คือ บริษัทเอกชน1 2คือ บริษัทเอกชน2 3คือ ราชการ 4คือหน่วยงานอื่นๆ-->
        <input name="COMPANY_NUMBER" ng-model="ctrl.modelSave.COMPANY_NUMBER" md-hide-icons="triangle">
    </md-input-container>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>สัญญา</h3></label>
    </div>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>เลขที่ใบสั่งซื้อ(PO)</label>
        <input name="PO_NO" ng-model="ctrl.modelSave.PO_NO" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>รหัสงบประมาณ(WBS)</label>
        <input name="WBS_ID" ng-model="ctrl.modelSave.WBS_ID" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>เลขที่สัญญา</label>
        <input name="CONTRACT_NO" ng-model="ctrl.modelSave.CONTRACT_NO" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>วันที่ทำสัญญา</label>
        <input name="CONTRACT_DATE" ng-model="ctrl.modelSave.CONTRACT_DATE" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>รายละเอียดสัญญา</label>
        <input name="ESTIMATE_PRICE_RAI_GOVERNMENT" ng-model="ctrl.modelSave.ESTIMATE_PRICE_RAI_GOVERNMENT" md-hide-icons="triangle">
    </md-input-container>

    <!--GRID-->
    <div class="" layout="row" layout-wrap>
        <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
    </div>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ราคาที่ซื้อ(บาท/ไร่)</label>
        <input name="PRICE_PER_RAI" ng-model="ctrl.modelSave.PRICE_PER_RAI" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ค่าที่ดินทั้งโครงการ(บาท)</label>
        <input name="LAND_VALUE" ng-model="ctrl.modelSave.LAND_VALUE" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ระยะเวลาก่อสร้าง(เดือน)</label>
        <input name="CONSTRUCTION_PERIOD_MONTH" ng-model="ctrl.modelSave.CONSTRUCTION_PERIOD_MONTH" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>จำนวน(หน่วย)</label>
        <input name="UNIT_VALUE" ng-model="ctrl.modelSave.UNIT_VALUE" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ราคาต่อหน่วย(บาท)</label>
        <input name="UNIT_PRICE_VALUE" ng-model="ctrl.modelSave.UNIT_PRICE_VALUE" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>วันที่โอนกรรมสิทธิ์ที่ดิน</label>
        <input name="OWNERSHIP_TRANSFER_DATE" ng-model="ctrl.modelSave.OWNERSHIP_TRANSFER_DATE" md-hide-icons="triangle">
    </md-input-container>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>ค่าที่ดินงวดที่1</h3></label>
    </div>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>จำนวนเงิน(บาท)</label>
        <input name="LAND_VALUE_1_AMOUNT" ng-model="ctrl.modelSave.LAND_VALUE_1_AMOUNT" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ร้อยละ</label>
        <input name="LAND_VALUE_1_PERCENT" ng-model="ctrl.modelSave.LAND_VALUE_1_PERCENT" md-hide-icons="triangle">
    </md-input-container>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>ค่าที่ดินงวดที่2</h3></label>
    </div>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>จำนวนเงิน(บาท)</label>
        <input name="LAND_VALUE_2_AMOUNT" ng-model="ctrl.modelSave.LAND_VALUE_2_AMOUNT" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ร้อยละ</label>
        <input name="LAND_VALUE_2_PERCENT" ng-model="ctrl.modelSave.LAND_VALUE_2_PERCENT" md-hide-icons="triangle">
    </md-input-container>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>รายละเอียดค่าที่ดินงวดที่2</h3></label>
    </div>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ค่าที่ดินงวดที่2 ที่ชำระแล้ว</label>
        <input name="LAND_VALUE_2_PAYMENT" ng-model="ctrl.modelSave.LAND_VALUE_2_PAYMENT" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ร้อยละ</label>
        <input name="LAND_VALUE_2_PAYMENT_PERCENT" ng-model="ctrl.modelSave.LAND_VALUE_2_PAYMENT_PERCENT" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ค่าที่ดินงวดที่2 ครั้งล่าสุด</label>
        <input name="LAND_VALUE_2_LAST" ng-model="ctrl.modelSave.LAND_VALUE_2_LAST" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ร้อยละ</label>
        <input name="LAND_VALUE_2_LAST_PERCENT" ng-model="ctrl.modelSave.LAND_VALUE_2_LAST_PERCENT" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ค่าที่ดินงวดที่2 ที่เหลือ</label>
        <input name="LAND_VALUE_2_REST" ng-model="ctrl.modelSave.LAND_VALUE_2_REST" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>ร้อยละ</label>
        <input name="LAND_VALUE_2_REST_PERCENT" ng-model="ctrl.modelSave.LAND_VALUE_2_REST_PERCENT" md-hide-icons="triangle">
    </md-input-container>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>ราคาค่าที่ดิน</h3></label>
    </div>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>รวมค่าที่ดินที่ชำระแล้ว</label>
        <input name="TOTAL_LAND" ng-model="ctrl.modelSave.TOTAL_LAND" md-hide-icons="triangle">
    </md-input-container>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>หลักประกันสัญญา</h3></label>
    </div>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>หนังสือค้ำประกัน</label>
        <input name="GUARANTEE_DOCUMENT" ng-model="ctrl.modelSave.GUARANTEE_DOCUMENT" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>เลขที่</label>
        <input name="GUARANTEE_NO" ng-model="ctrl.modelSave.GUARANTEE_NO" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>วันที่</label>
        <input name="GUARANTEE_DATE" ng-model="ctrl.modelSave.GUARANTEE_DATE" md-hide-icons="triangle">
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>จำนวนเงิน(บาท)</label>
        <input name="GUARANTEE_AMOUNT" ng-model="ctrl.modelSave.GUARANTEE_AMOUNT" md-hide-icons="triangle">
    </md-input-container>

    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>คืนหลักประกัน</label>
        </md-input-container>

        <md-radio-group ng-model="ctrl.modelSave.IS_GUARANTEE_ROLLBACK" ng-if="ctrl.modelSave.SYSTEM_TYPE_ID != 2" ng-disabled="!ctrl.modelSave.editMode" layout="row">
            <md-radio-button value="T">คืน</md-radio-button>
            <md-radio-button value="F"> ไม่คืน </md-radio-button>
        </md-radio-group>
    </div>

    <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
        <label>วันที่คืน</label>
        <md-datepicker name="GUARANTEE_ROLLBACK_DATE" ng-model="ctrl.modelSave.GUARANTEE_ROLLBACK_DATE" md-hide-icons="triangle"></md-datepicker>
    </md-input-container>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>เนื้อที่โอนกรรมสิทธิ์ที่ดิน</h3></label>
    </div>

    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>ไร่</label>
            <input name="TR_OF_OWNERSHIP_AREA_RAI" ng-model="ctrl.modelSave.TR_OF_OWNERSHIP_AREA_RAI" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>งาน</label>
            <input name="TR_OF_OWNERSHIP_AREA_NGAN" ng-model="ctrl.modelSave.TR_OF_OWNERSHIP_AREA_NGAN" md-hide-icons="triangle">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>วา</label>
            <input name="TR_OF_OWNERSHIP_AREA_WA" ng-model="ctrl.modelSave.TR_OF_OWNERSHIP_AREA_WA" md-hide-icons="triangle">
        </md-input-container>
    </div>

    <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
        <label>หมายเหตุ</label>
        <input name="REMARK" ng-model="ctrl.modelSave.REMARK" type="text" md-maxlength="3000">
    </md-input-container>

    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>รายละเอียดการโอนกรรมสิทธิ์ที่ดิน</label>
        </md-input-container>

        <md-button class="" ng-click="ctrl.ImportTransferLandFile()" layout-align="end center">
            <img ng-src="Content/btn/import_btn.png">
        </md-button>
    </div>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>เนื้อที่รวมจากการรังวัด(หลังซื้อ)</h3></label>
    </div>

    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>ไร่</label>
            <input name="TR_OF_OWNERSHIP_AREA_RAI" ng-model="ctrl.modelSave.TR_OF_OWNERSHIP_AREA_RAI" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>งาน</label>
            <input name="TR_OF_OWNERSHIP_AREA_NGAN" ng-model="ctrl.modelSave.TR_OF_OWNERSHIP_AREA_NGAN" md-hide-icons="triangle">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>วา</label>
            <input name="TR_OF_OWNERSHIP_AREA_WA" ng-model="ctrl.modelSave.TR_OF_OWNERSHIP_AREA_WA" md-hide-icons="triangle">
        </md-input-container>
    </div>

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>เนื้อที่(ขาด/เกิน)</h3></label>
    </div>

    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>เนื้อที่(ขาด/เกิน)(ไร่)</label>
            <input name="OVER_LAND_RAI" ng-model="ctrl.modelSave.MEASURE_ID" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>งาน</label>
            <input name="OVER_LAND_NGAN" ng-model="ctrl.modelSave.MEASURE_ID" md-hide-icons="triangle">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>วา</label>
            <input name="OVER_LAND_WA" ng-model="ctrl.modelSave.MEASURE_ID" md-hide-icons="triangle">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>เนื้อที่(ขาด/เกิน)(ไร่)</label>
            <input name="OVER_LAND_RAI" ng-model="ctrl.modelSave.MEASURE_ID" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>งาน</label>
            <input name="OVER_LAND_NGAN" ng-model="ctrl.modelSave.MEASURE_ID" md-hide-icons="triangle">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
            <label>วา</label>
            <input name="OVER_LAND_WA" ng-model="ctrl.modelSave.MEASURE_ID" md-hide-icons="triangle">
        </md-input-container>
    </div>

    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>ยกเลิกโครงการ</label>
        </md-input-container>

        <md-radio-group ng-model="ctrl.modelSave.IS_PROJECT_CANCEL" ng-if="ctrl.modelSave.SYSTEM_TYPE_ID != 2" ng-disabled="!ctrl.modelSave.editMode" layout="row">
            <md-radio-button value="T">ยกเลิก</md-radio-button>
            <md-radio-button value="F">ไม่ยกเลิก</md-radio-button>
        </md-radio-group>
    </div>

    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>เอกสารที่เกี่ยวข้อง</label>
        </md-input-container>

        <md-button class="" ng-click="ctrl.ImportTransferLandFile()" layout-align="end center">
            <img ng-src="Content/btn/import_btn.png">
        </md-button>
    </div>

    <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
        <label>วันที่ยกเลิก</label>
        <md-datepicker name="PROJECT_CANCEL_DATE" ng-model="ctrl.modelSave.PROJECT_CANCEL_DATE" md-hide-icons="triangle"></md-datepicker>
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
        <label>สาเหตุที่ยกเลิก</label>
        <input name="DESC_PROJECT_CANCEL" ng-model="ctrl.modelSave.DESC_PROJECT_CANCEL" type="text" md-maxlength="3000">
    </md-input-container>

    <div class="wrapper-input" layout="row" layout-align="center center" layout-wrap>
        
            <md-button class="" ng-click="ctrl.Save()">
                <img ng-src="Content/btn/save_btn.png">
            </md-button>
            <md-button class="" ng-click="ctrl.Clear()">
                <img ng-src="Content/btn/clear_btn.png">
            </md-button>
            <md-button class="" ng-click="ctrl.Back()">
                <img ng-src="Content/btn/back_btn.png">
            </md-button>
        
    </div> 
</div>  
