﻿<div layout="row">

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h4>การค้นหา : ข้อมูลที่ดินจัดซื้อเพื่อทำโครงการ</h4></label>
    

    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>รหัสโครงการ, ชื่อโครงการ</label>
            <input ng-model="ctrl.Project_Id" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>จังหวัด</label>
            <input ng-model="ctrl.Province_Id" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>ประกาศฉบับที่</label>
            <md-select ng-model="ctrl.Announcements_No" placeholder="ประกาศฉบับที่">
                <md-option ng-repeat="item in ctrl.Announcements_No_List" ng-value="item.ID">{{item.DATA_TOPIC}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>โฉนดเลขที่</label>
            <input ng-model="ctrl.Deed_Id" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>เลขที่ดิน</label>
            <input ng-model="ctrl.Parcel_No" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>หน้าสำรวจ</label>
            <input ng-model="ctrl.Dealing_File_No" type="text">
        </md-input-container>
    </div>        
        
    
        <div layout="row">
            <div flex="">
                <md-button class="" ng-click="ctrl.Add()">
                    <img ng-src="Content/btn/add_data_btn.png">
                </md-button>
            </div>

            <div flex="none">
                <md-button class="" ng-click="ctrl.Search()">
                    <img ng-src="Content/btn/search_btn.png">
                </md-button>
                <md-button class="" ng-click="ctrl.Default()">
                    <img ng-src="Content/btn/reset_btn.png">
                </md-button>
            </div>
        </div>
        <div class="" layout="row" layout-wrap>
            <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
        </div>
    </div> 
</div>
