﻿<div layout="row">

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h3>การค้นหา : ข้อมูลที่ดินจัดซื้อเพื่อทำโครงการ</h3></label>
    
    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>รหัสโครงการ, ชื่อโครงการ</label>
            <input ng-model="ctrl.PROJECT_ID" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>จังหวัด</label>
            <md-select ng-model="ctrl.PROVINCE_ID" placeholder="จังหวัด">
                <md-option ng-repeat="item in ctrl.ProvinceList" ng-value="item.ID">{{item.PROVINCE_NAME_TH}}</md-option>
            </md-select>
        </md-input-container>
        
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>ประกาศฉบับที่</label>
            <md-select ng-model="ctrl.ANNOUNCEMENTS_NO" placeholder="ประกาศฉบับที่">
                <md-option ng-repeat="item in ctrl.AnnouncementsList" ng-value="item.ID">{{item.ANNOUNCEMENTS_NO}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>โฉนดเลขที่</label>
            <input ng-model="ctrl.DEED_NO_FROM" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>ถึงโฉนดเลขที่</label>
            <input ng-model="ctrl.DEED_NO_TO" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>เลขที่ดิน</label>
            <input ng-model="ctrl.PARCEL_NO" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>หน้าสำรวจ</label>
            <input ng-model="ctrl.DEALING_FILE_NO" type="text">
        </md-input-container>
    </div>        
        
    
        <div layout="row">
            <div flex="">
                <md-button class="" ng-click="ctrl.Add()">
                    <img ng-src="Content/btn/add_data_btn.png">
                </md-button>
            </div>

            <div flex="none">
                <md-button class="" ng-click="ctrl.Search()">
                    <img ng-src="Content/btn/search_btn.png">
                </md-button>
                <md-button class="" ng-click="ctrl.Default()">
                    <img ng-src="Content/btn/reset_btn.png">
                </md-button>
            </div>
        </div>
        <div class="" layout="row" layout-wrap>
            <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
        </div>
    </div> 
</div>
