﻿<div ng-cloak>
    <md-content>
        <md-content class="md-padding">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="เรียงข้อมูลแจ้งผู้ใช้งาน" class="md-primary">
                    <br>
                    <br>
                    <div class="" layout="row" layout-wrap id="tabSortData">
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </md-content>

</div>