// variable
@import "../../base/variables.scss";
@import "../../base/mixins.scss";

.wrapper-v-accordion {
    background-color: $color-5_61A;
    min-width: 400px;
    max-width: 400px;
    height: calc(100vh - 131px);
    position: static;
    transform: translate3d(0, 0, 0);
    transition: transform, 0.5s;
    padding-top: 5px;

    @include MQ(XL) {
        padding-top: 0px;
        transform: translate3d(100%, 0, 0);
        height: 100vh;
        box-sizing: border-box;
        z-index: 100;
        position: fixed !important;
        right: 0;
        bottom: 0;
    }

    &.is-open {
        @include MQ(XL) {
            transform: translate3d(0%, 0, 0);
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .15), 0 4px 5px 0 rgba(0, 0, 0, .09), 0 1px 10px 0 rgba(0, 0, 0, .07);
            // min-width: 401px;
            // max-width: 401px;
        }
        @include MQ(XS) {
            width: 401px;
            min-width: unset;
            max-width: calc(100vw - 65px) !important;
        }
    }

    &.is-close {
        transform: translate3d(-100%, 0, 0) !important;
        min-width: 0;
        max-width: 0;
    }
}

v-accordion {
    display: block;
    background-color: $color-5_61A;
}

v-pane {
    display: block;

    font: {
        family: $sarabunNew-Bold;
    }

    color: $color-6_61A;

    &.is-expanded>v-pane-content>div {
        display: visible;
    }

    &[disabled]>v-pane-header {
        opacity: 0.6;
        pointer-events: none;
    }
}

v-pane-header {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;

    // border-bottom: 1px solid #f1f1f2;
    font: {
        size: $menu-FontSize-3;
    }

    &:focus {
        outline: none;
    }

    &.have-sub {
        img {
            transform: rotate(0deg);
            position: absolute;
            right: 15px;
            top: calc(50% - 5px);
        }
    }

    &.no-sub {
        img {
            display: none;
        }

        img.icon-menu,
        img.icon-menu-active {
            display: initial;
        }
    }

    >div {
        display: block;
    }
}

v-pane-content {
    display: block;
    position: relative;
    overflow: hidden;
    max-height: 0px;

    >div {
        visibility: none;
    }

    v-pane-header {
        font: {
            size: $menu-FontSize-3;
        }
    }

    &.no-sub {
        display: none;
    }
}


/* Theme: default
     ***************************************/

.vAccordion--default {
    @include MQ(XL) {
        padding-top: 5px;
    }
    v-pane-content>div {
        opacity: 0;
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    v-pane {
        overflow: hidden;

        &.is-expanded> {
            v-pane-header {
                color: $color-7_61A;

                // &::after {
                //     transform: rotate(90deg);
                //     opacity: 0;
                // }
                // &::before {
                //     transform: rotate(0deg);
                // }
                &.have-sub {
                    img {
                        transform: rotate(-180deg);
                    }
                }

                &.lv1 {
                    background-color: $color-8_61A;

                    img.icon-menu {
                        z-index: 1;
                        transform: translateY(25%);
                        right: 5px;
                        opacity: 0;
                    }

                    img.icon-menu-active {
                        z-index: 1;
                        transform: translateY(25%);
                        right: 5px;
                        margin-left: -39px;
                        opacity: 1;
                    }
                }

                &.lv2 {
                    background-color: $color-5_61A;
                }

                &.lv3 {
                    background-color: $color-9_61A;
                }
            }

            v-pane-content {
                >div {
                    opacity: 1;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }

                &.lv1 {
                    v-pane {
                        @include last-child() {
                            v-pane-header {
                                &.lv2 {
                                    >div {
                                        border-bottom: none;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }

        &[disabled] v-pane-header {

            &::after,
            &::before {
                display: none;
            }
        }
    }

    v-pane-header {
        transition: all 0.25s; // &::after {

        &.lv1 {
            min-height: 57px;
            background-color: $color-5_61A;
            overflow: hidden;
            padding: 10px 45px 10px 25px;
            margin: 0px 5px;
            box-shadow: 0px -1px 0px 0px #f1f1f2 inset;

            &:hover {
                background-color: $color-8_61A;
            }

            img.icon-menu {
                z-index: 1;
                transform: translateY(25%);
                right: 5px;
                opacity: 1;
            }

            img.icon-menu-active {
                z-index: 1;
                transform: translateY(25%);
                right: 5px;
                margin-left: -39px;
                opacity: 0;
            }
        }

        &:not(.lv1) {
            // border-bottom: 1px solid $color-4;
            // min-height: 45px;
        }

        &.lv2 {
            padding: 0px 5px 0px 40px;
            background-color: $color-9_61A;

            &:hover {
                background-color: lighten($color-9_61A, 5%);
            }

            >div {
                display: block;
                border-bottom: 1px dashed #f1f1f2;
                width: 100%;
                padding: 13px 5px 13px 20px;
                line-height: 1.75rem;
            }

        }

        &.lv3 {
            padding: 5px 20px 5px 40px;
            line-height: 1.75rem;
            background-color: lighten($color-10, 10%);

            &:hover {
                background-color: lighten($color-10, 15%);
            }
        }

        &:hover {
            color: $color-7_61A;
        }
    }
}