﻿<div layout="column">
   <div layout ="row">
        <label flex>การกำหนดรูปแบบรหัสผ่าน</label>
        <md-button class="md-raised md-primary" ng-if="ctrl.viewMode == true" ng-click="ctrl.editViewMode()" >แก้ไข</md-button>
        <md-button class="md-raised md-primary" ng-if="ctrl.viewMode == false" ng-click="ctrl.saveViewMode()">บันทึก</md-button>
        <md-button class="md-raised md-warn" ng-if="ctrl.viewMode == false" ng-click="ctrl.cancelViewMode()">ยกเลิก</md-button>
    </div>
</div>


<div layout="column">
    <label flex>อายุรหัสผ่าน (วัน) [0=ไม่กำหนด]</label>
    <md-input-container flex>
        <label>ระบุจำนวนวัน</label>
        <input ng-model="ctrl.modelList.AGE_DATE" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>รหัสผ่านเข้าสู่ระบบไม่ถูกต้อง (ครั้ง) [0=ไม่กำหนด]</label>
    <md-input-container flex>
        <label>ระบุจำนวนครั้ง</label>
        <input ng-model="ctrl.modelList.CHECK_PASS" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>เวลาสำหรับปลดล็อค (นาที)</label>
    <md-input-container flex>
        <label>ระบุเวลา (นาที)</label>
        <input ng-model="ctrl.modelList.UNLOCK_TIME" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>ห้ามใช้รหัสผ่านเก่า (ครั้ง) [0=ไม่กำหนด]</label>
    <md-input-container flex>
        <label>ระบุจำนวนครั้ง</label>
        <input ng-model="ctrl.modelList.DONT_PASS_OLD" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>รหัสตัวอักษรน้อยสุด (ตัวอักษร) [0=ไม่กำหนด]</label>
    <md-input-container flex>
        <label>ระบุจำนวนตัวอักษร</label>
        <input ng-model="ctrl.modelList.MIN_CHARACTER" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>รหัสตัวอักษรไม่เกิน (ไม่เกิน 255 ตัวอักษร) [0=ไม่กำหนด]</label>
    <md-input-container flex>
        <label>ระบุจำนวนตัวอักษร</label>
        <input ng-model="ctrl.modelList.MAX_CHARACTER" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>ใช้รหัสผ่านที่มีตัวอักษรที่ซ้ำต่อเนื่องกัน (ตัวอักษร) [0=ไม่กำหนด, ตั้งแต่ 2 ขึ้นไป]</label>
    <md-input-container flex>
        <label>ระบุจำนวนตัวอักษร</label>
        <input ng-model="ctrl.modelList.SAME_CHARACTER" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>จำนวนพยัญชนะตัวใหญ่ (A-Z) (ตัวอักษร) [0=ไม่กำหนด, -1=ไม่มี]</label>
    <md-input-container flex>
        <label>ระบุจำนวนตัวอักษร</label>
        <input ng-model="ctrl.modelList.UPPER_CASE" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>จำนวนพยัญชนะตัวเล็ก (a-z) (ตัวอักษร) [0=ไม่กำหนด, -1=ไม่มี]</label>
    <md-input-container flex>
        <label>ระบุจำนวนตัวอักษร</label> 
        <input ng-model="ctrl.modelList.LOWER_CASE" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>จำนวนตัวเลข (0-9) (ตัวอักษร) [0=ไม่กำหนด, -1=ไม่มี]</label>
    <md-input-container flex>
        <label>ระบุจำนวนตัวอักษร</label>
        <input ng-model="ctrl.modelList.INPUT_NUMBER" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>จำนวนพยัญชนะพิเศษ (เช่น !,@,#,$,%,&) [0=ไม่กำหนด, -1=ไม่มี]</label>
    <md-input-container flex>
        <label>ระบุจำนวนตัวอักษร</label>
        <input ng-model="ctrl.modelList.SPACIAL_CHARACTER" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>ใส่ส่วนหนึ่งส่วนใดของชื่อผู้ใช้งานระบบนำมาตั้งเป็นรหัสผ่าน [0=ไม่กำหนด]</label>
    <md-input-container flex>
        <label>ใส่ข้อความ</label>
        <input ng-model="ctrl.modelList.USER_PASS_NAME" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>แจ้งเตือนรหัสผ่านหมดอายุล่วงหน้า (วัน) [0=ไม่กำหนด]</label>
    <md-input-container flex>
        <label>ระบุจำนวนวัน</label>
        <input ng-model="ctrl.modelList.ALERT_EXPIRE" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<div layout="column">
    <label flex>อายุ OTP (นาที) [0=ไม่กำหนด]</label>
    <md-input-container flex>
        <label>ระบุเวลา (นาที)</label>
        <input ng-model="ctrl.modelList.AGE_OTP" type="number"
               ng-disabled="ctrl.viewMode">
    </md-input-container>
</div>

<!--<div disabled>-->
    <div layout="column">
        <div layout="row">
            <label flex>การกำหนด Session Timeout</label>
            <md-button class="md-raised md-primary" ng-if="ctrl.viewModeSession == true" ng-click="ctrl.viewModeSession = false">แก้ไข</md-button>
            <md-button class="md-raised md-primary" ng-if="ctrl.viewModeSession == false" ng-click="ctrl.saveViewMode()">บันทึก</md-button>
            <md-button class="md-raised md-warn" ng-if="ctrl.viewModeSession == false" ng-click="ctrl.cancelViewModeSession()">ยกเลิก</md-button>
        </div>
    </div>

    <div layout="column">
        <label flex>จำนวนเวลา Session Timeout (นาที)</label>
        <md-input-container flex>
            <label>ระบุเวลา (นาที)</label>
            <input ng-model="ctrl.modelList.SESSION_TIMEOUT" type="number"
                    ng-disabled="ctrl.viewModeSession" >
        </md-input-container>
    </div>
<!--</div>-->