﻿<div class="input-container" layout="row" layout-align-xs="center center" layout-align="end center">
        
    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>ปีภาษี</label>
            <input type="text"
                   ng-model="rtReportCtrl.ANNUM" />
        </md-input-container>
    </div>
    
    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>ชื่อโครงการ</label>
            <input type="text"
                   ng-model="rtReportCtrl.PROJECT_ID" />
        </md-input-container>
    </div>

    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>โฉนดเลขที่</label>
            <input type="text"
                   ng-model="rtReportCtrl.DEED_ID" />
        </md-input-container>
    </div>
    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>ถึง โฉนดเลขที่</label>
            <input type="text"
                   ng-model="rtReportCtrl.TO_DEED_ID" />
        </md-input-container>
    </div>
    
    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>จังหวัด</label>
            <md-autocomplete ng-disabled="rtReportCtrl.configProvinceAutoComplete.isDisabled"
                             md-no-cache="rtReportCtrl.configProvinceAutoComplete.noCache"
                             md-selected-item="rtReportCtrl.configProvinceAutoComplete.selectedItem"
                             md-search-text-change="rtReportCtrl.searchTextChange(rtReportCtrl.configProvinceAutoComplete.searchText)"
                             md-search-text="rtReportCtrl.configProvinceAutoComplete.searchText"
                             md-selected-item-change="rtReportCtrl.selectedItemChangeProvince(item)"
                             md-items="item in rtReportCtrl.querySearchProvince(rtReportCtrl.configProvinceAutoComplete.searchText)"
                             md-item-text="item.PROVINCE_NAME_TH" md-min-length="0"
                             ng-required="true">
                <md-item-template>
                    <span md-highlight-text="rtReportCtrl.configProvinceAutoComplete.searchText" md-highlight-flags="^i">{{item.PROVINCE_NAME_TH}}</span>
                </md-item-template>
                <md-not-found>
                    ไม่พบข้อมูลที่ตรงกับ "{{rtReportCtrl.configProvinceAutoComplete.searchText}}"
                </md-not-found>
            </md-autocomplete>
        </md-input-container>
    </div>
    
    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>หน่วยงานที่รับชำระภาษี</label>
            <input type="text"
                   ng-model="rtReportCtrl.ANNUM" />
        </md-input-container>
    </div>

    <md-input-container class="have label-float" layout="row" layout-align-xs="center center" layout-align="end center">
        <md-button class="main-btn" ng-click="rtReportCtrl.getReport()" layout="row" layout-align="center center">
            <img ng-src="../../../Content/icon/icon-search.svg">ออกรายงาน
        </md-button>
        <md-button class="main-btn" ng-click="rtReportCtrl.clear()" layout="row" layout-align="center center">
            <img ng-src="../../../Content/icon/icon-reset.svg">ล้างค่า
        </md-button>
    </md-input-container>
</div>

<form id="frmForSubmitParameter" method="post">
    <input id="JsonParameter" name="JsonParameter" type="hidden">
</form>