﻿<div layout="row" layout-align="end end" class="main-bg">
    <div style="color:white; margin-right:40px; margin-bottom:10px; font-family: TH SarabunPSK; font-size: 30px;">version 0.5.27</div>
</div>

<div layout="row" layout-align="center center">
    <img class="img-responsive login-logo" src="../../Content/images/logo.png" alt="" />
</div>
<div class="container-fluid" ng-form="ctrl.loginForm">
    <div layout="row" layout-align="center center">
        <div flex-xs="90" flex-gt-xs="50" flex-gt-md="30">
            <md-input-container class="login fix-input">                
                <label class="label login-page">USERNAME</label>
                <input class="input login-page" required type="text" name="txtUserName" ng-model="ctrl.username">
                <div class="input-icon login-page">
                    <img src="../../Content/images/icn-user-login.png" alt="">
                </div>
                <div ng-messages="ctrl.loginForm.username.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex-xs="90" flex-gt-xs="50" flex-gt-md="30">
            <md-input-container class="login fix-input">
                <label class="label login-page">PASSWORD</label>
                <input class="input login-page" required type="password" name="txtPassword" ng-model="ctrl.password">
                <div class="input-icon login-page">
                    <img src="../../Content/images/icn-password.png" alt="">
                </div>
                <div ng-messages="ctrl.loginForm.password.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" flex-xs="90" flex-gt-xs="50" flex-gt-md="30">
            <div class="code-captcha">
                * Enter the contents of image
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" flex-xs="90" flex-gt-xs="50" flex-gt-md="30">
            <div flex style="margin-right:0px;">
                <md-input-container class="login fix-input">
                    <input class="input login-page" style="padding-left : 30px;padding-right:30px " required type="text" name="txtPassword" ng-model="ctrl.userCaptcha">
                    <div ng-messages="ctrl.loginForm.userCaptcha.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>
            <div flex class="w100-percen" style="margin-left:5px;">
                <div class="captcha login-page" layout="row" layout-align="center center">
                    <img class="img-responsive" ng-src="{{ctrl.captchaImg}}" alt="" />
                    <span class="fa fa-refresh" ng-click="ctrl.refreshCaptcha()" style="font-size:20px;margin-left:10px;">
                    </span>
                </div>

            </div>

        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" flex-xs="90" flex-gt-xs="50" flex-gt-md="30">
            <md-button type="submit" ng-click="ctrl.login()" class="btn login-page">LOGIN</md-button>
        </div>
    </div>
    <!-- <div layout="row" layout-align="center center">        
            <a class="register login-page" ng-click="ctrl.register()">Register</a>
            <div class="register login-page" style="padding:0 10px">|</div>
            <a class="register login-page" ng-click="forgetPassword">Forget Password</a>    
        
    </div> -->
    <div layout="row" layout-align="center center" ng-if="ctrl.logInFailed">
        <div style="color:red">{{ctrl.logInFailedMessage}}</div>
    </div>
</div>
<img id="imgTestCaptcha" />

