// variable
@import "../../base/variables.scss";
// use for plugin family.scss
@import "../../plugin/family/family.scss";

// fix angular material
@import "../../base/fix-angular-material.scss";
// header
@import "../../component/header-topic/header-toppic.scss";
// button
@import "../../component/button/button.scss";

md-tabs {
  width: auto !important;

  md-tabs-content-wrapper {
    md-tab-content {

    }
  }
}

.ng-modal-dialog-content {
  .wrapper-row-form {
    
  }
}

.wrapper-input {
  padding-top: 18px;
  margin-left: -10px;
  margin-right: -10px;
}

.input-container {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 26px;
  margin-top: 2px;
  margin-bottom: 2px;

  label {
    margin-right: 10px;
    margin-top: 13px;
    text-align: right;
    word-wrap: break-word;
    line-height: normal;
    color: $color-1;
  }

  label.text-left {
    text-align: left !important;
  }

  label.width-auto {
    width: auto !important;
    min-width: auto !important;
  }

  label.modify-select {
    overflow: hidden !important;
  }

  &.massage {
    margin-bottom: 18px !important;

    md-input-container .md-input-message-animation {
      padding-top: 4px;
    }
  }

  &.no-float {
    margin-bottom: 10px !important;
  }

  &.no-note {
    padding-bottom: 0px !important;
  }

  &:empty {
    max-height: 0px !important;
  }
}

label {
  font: {
    size: rem($input-FontSize-1);
  }

  &.disabled {
    color: $color-21;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.label-input {
  color: $color-25 !important;
  text-align: right !important;
  margin-left: -10px;
  font: {
    family: $sarabunNew-Bold !important;
  }
}