﻿<div>
    <div layout="column">
        <div>ข้อมูลประวัติรังวัดที่ดิน > แก้ไข</div>
        <div>รายละเอียด</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="FOLDER_NO" model="ctrl.model.FOLDER_NO"></mz>
        </div>
    </div>

    <div layout="column"p>
        <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
    </div>

    <div layout="column">
        <mz input-dir="BTN_SAVE_RESET_BACK"></mz>
    </div>
</div>