﻿<div>
    <div layout="column">
        <div>การค้นหา : ข้อมูลประวัติรังวัดที่ดิน</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="PROJECT" model="ctrl.model.PROJECT"></mz>
            <mz input-dir="DEED_NO" model="ctrl.model.DEED_NO"></mz>
            <mz input-dir="DEED_NO" model="ctrl.model.DEED_NO2" refer="ctrl.model.DEED_NO"></mz>
            <mz input-dir="PROVINCE_ID" model="ctrl.model.PROVINCE_ID"></mz>
            <mz input-dir="DISTRICT_ID" model="ctrl.model.DISTRICT_ID"></mz>
            <mz input-dir="SUBDISTRICT_ID" model="ctrl.model.SUBDISTRICT_ID"></mz>
        </div>
    </div>

    <div layout="column">
        <mz input-dir="BTN_SAVE_DEFAULT"></mz>
    </div>

    <div layout="column">
        <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
    </div>
</div>