﻿<div class="" layout="row" layout-wrap>
    <!--<label>การค้นหา : ข้อมูลการใช้งานระบบรายบุคคล</label>-->
    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <label><h4>การค้นหา : ข้อมูลการใช้งานระบบรายวันที่</h4></label>
    </div>

    <div flex-xs="100" flex-sm="100" flex-md="33" flex="33">
        <md-input-container class="">
            <label>วันที่</label>
            <div flex-gt-xs="">
                <md-datepicker ng-model="ctrl.startDateFrom" 
                               md-placeholder="Enter date" 
                               md-min-date="" 
                               md-max-date="ctrl.startDateTo">

                </md-datepicker>
            </div>
        </md-input-container>
    </div>

    <div flex-xs="100" flex-sm="100" flex-md="33" flex="33">
        <md-input-container class="">
            <label>ถึงวันที่</label>
            <div flex-gt-xs="">
                <md-datepicker ng-model="ctrl.startDateTo" 
                               md-placeholder="Enter date" 
                               md-min-date="ctrl.startDateFrom" 
                               md-max-date="">

                </md-datepicker>
            </div>
        </md-input-container>
    </div>

    <div flex-xs="100" flex-sm="100" flex-md="33" flex="33" flex-offset="66">
        <md-button class="" ng-click="ctrl.Export()">
            <img ng-src="Content/btn/export_btn.png">
        </md-button>
        <md-button class="" ng-click="ctrl.Search()">
            <img ng-src="Content/btn/search_btn.png">
        </md-button>
        <md-button class="" ng-click="ctrl.Default()">
            <img ng-src="Content/btn/reset_btn.png">
    </md-button>
    </div>

    <div class="" layout="row" layout-wrap>
        <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
    </div>

</div>
