// variable
@import "../../base/variables.scss";
@import "../../base/mixins.scss";
// button
@import "../../component/button/button.scss";
// use for plugin family.scss
@import "../../plugin/family/family.scss";

header {
	overflow: hidden;
	&.main-header {
		background-color: $color-1_61A;
		min-height: 77px;
		position: relative;
		border-bottom: 3px solid $color-4_61A;
		margin-bottom: 1px;
		box-shadow: #fff 0px 0px 0px 1px;
	}

	.header-bg-object {
		position: absolute;
		width: 100%;
		z-index: 0;
		line-height: 1rem;
	}

	.header-bg-logo {
		background-color: $color-2_61A;
		min-height: 77px;
		position: relative;
		z-index: 2;

		.header-bg-skew {
			transform: skew(-45deg, 0deg);
			background-color: $color-2_61A;
			min-width: 120px;
			position: absolute;
			top: 0;
			bottom: 0;
			right: -48px;
			z-index: 1;
		}

		.header-bg-pattern {
			position: absolute;
			right: 0;
			margin-right: -40%;

			@include MQ(XM) {
				display: none;
			}
		}
	}
}

.header-project-name {
	color: $color-3_61A;
	font-family: $sarabunNew-Bold;
	font-size: rem($font-size-1_61A);
	-webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
	text-shadow: $color-3_61A 0px 1px 1px;
	max-height: 77px;
	z-index: 3;
	margin-right: -30px;

	@include MQ(XL) {
		font-size: rem($font-size-2_61A);
	}

	@include MQ(XM) {
		font-size: rem(36px);
		line-height: 2rem;
		margin-right: 0px;
	}
}

.header-logo {
	z-index: 3;
	margin: 0 15px;
}

.navbar {
	background-color: $color-4_61A;
	padding: 0 1px;
	min-height: 50px;
	max-height: 50px;

	@include MQ(XS) {
		max-height: unset;
	}

	.tab-menu {
		color: $color-6_61A;
		font-family: $sarabunNew-Bold;
		font-size: rem($menu-FontSize-1);
		padding: 1px 15px 1px 15px;
		margin: 5px 4px 5px 4px;
		// box-shadow: 0px -4px 0px 0px $color-8_61A inset;
		// background-color: $color-8_61A;
		background:
			linear-gradient(to bottom, $color-8_61A 0%,
			$color-8_61A 100%);
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: 100% 4px;
		transition: background-size .3s, color .3s;

		@include MQ(XL) {
			margin: 5px 2px 5px 5px;
		}

		@include MQ(XS) {
			max-width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&:hover,
		.is-active {
			// background-color: $color-8_61A;
			color: $color-7_61A;
			background-size: 100% 100%;
			cursor: pointer;
		}

		div {
			@include MQ(XS) {
				max-width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

.mobile-menu {
	color: $color-2_61A;
	font-family: $sarabunNew-Bold;
	font-size: rem($menu-FontSize-1);
	margin: 0 15px;
	cursor: pointer;
}

.user-menu {
	color: $color-6_61A;
	font-family: $sarabunNew-Bold;
	font-size: rem($menu-FontSize-1);
	margin: 0 15px;

	.user-display {
		@include MQ(XM) {
			font-size: rem(26px);
			line-height: 1.5rem;
		}
	}

	.icon-user {
		border-radius: 500px;
		background-color: #666667;
		min-width: 32px;
		max-width: 32px;
		min-height: 32px;
		max-height: 32px;
		margin-right: 15px;
		align-items: center;
		align-content: center;
		justify-content: center;
		display: flex;

		@include MQ(XM) {
			display: none;
		}
	}

	.user-detail {
		@include MQ(XM) {
			display: none;
		}
	}

	.dropdown {
		border-left: 1px solid #bbbdbf;
		margin-left: 25px;
		padding: 0px 10px 0px 25px;

		@include MQ(XM) {
			margin-left: 15px;
			padding-left: 15px;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

.icon-dropdown {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 11px 0 11px;
	border-color: $color-6_61A transparent transparent transparent;
}