﻿<div class="input-container" layout="row" layout-align-xs="center center" layout-align="end center">
    <!--<div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex>
        <md-input-container class="have label-float">
            <label>ช่วงเวลาเริ่มต้น</label>
            <md-datepicker ng-model="rtReportCtrl.stratDate" required></md-datepicker>
        </md-input-container>
    </div>-->
    <!--<div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex>
        <md-input-container class="have label-float">
            <label>ช่วงเวลาสิ้นสุด</label>
            <md-datepicker ng-model="rtReportCtrl.endDate" required></md-datepicker>
        </md-input-container>
    </div>-->
    <!--<div class="input-container" flex-xs="100" flex-sm="50" flex-md flex>
        <md-input-container class="have label-float" style="width: 300px;">
            <label>ตย ข้อมูล DropDown</label>
            <md-select ng-model="rtReportCtrl.managementPositionID">
                <md-option ng-repeat="C in rtReportCtrl.managementPositionList" ng-value="C.ID">{{C.DATA_TOPIC}}</md-option>
            </md-select>
        </md-input-container>
    </div>-->
    {{rtReportCtrl.ProvinceID}}
    <div class="input-container">
        <md-input-container class="have label-float" style="width: 300px;">
            <label>ตย ข้อมูล DropDown</label>
            <md-select ng-model="rtReportCtrl.ProvinceID">
                <md-option ng-repeat="C in rtReportCtrl.porvinceList" ng-value="C.ID">{{C.PROVINCE_NAME_TH}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-input-container class="have label-float" layout="row" layout-align-xs="center center" layout-align="end center" >
        <md-button class="main-btn" ng-click="rtReportCtrl.getReport()" layout="row" layout-align="center center">
            <img ng-src="../../../Content/icon/icon-search.svg">ออกรายงาน
        </md-button>
        <md-button class="main-btn" ng-click="rtReportCtrl.clear()" layout="row" layout-align="center center">
            <img ng-src="../../../Content/icon/icon-reset.svg">ล้างค่า
        </md-button>
    </md-input-container>
</div>

<form id="frmForSubmitParameter" method="post">
    <input id="JsonParameter" name="JsonParameter" type="hidden">
</form>