﻿<div layout="column">
    <div>
        <label flex>ข้อมูลงานจัดหาที่ดิน > ข้อมูลประกาศจัดการที่ดิน > เพิ่มข้อมูล</label>
    </div>
</div>
<form name="announcementForm" novalidate>
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab id="tab1">
                <md-tab-label>รายละเอียด</md-tab-label>
                <md-tab-body>
                    <announcement-description-tab form="announcementForm" mode="ctrl.mode" model-save="ctrl.modelSave"></announcement-description-tab>
                </md-tab-body>

            </md-tab>
            <md-tab id="tab2">
                <md-tab-label>เพิ่มโฉนด</md-tab-label>
                <md-tab-body>
                   <announcement-deed-tab form="announcementForm" mode="ctrl.mode" model-save="ctrl.modelSave"></announcement-deed-tab>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab3">
                <md-tab-label>สภาพที่ดินเสนอขาย</md-tab-label>
                <md-tab-body>
                    <announcement-land-tab form="announcementForm" mode="ctrl.mode" model-save="ctrl.modelSave"></announcement-land-tab>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab4">
                <md-tab-label>คณะกรรมการพิจารณาคัดเลือก</md-tab-label>
                <md-tab-body>
                    <announcement-consider-tab form="announcementForm" mode="ctrl.mode" model-save="ctrl.modelSave"></announcement-consider-tab>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab5">
                <md-tab-label>การอนุมัติซื้อ</md-tab-label>
                <md-tab-body>
                    <announcement-approve-tab form="announcementForm" mode="ctrl.mode" model-save="ctrl.modelSave"></announcement-approve-tab>
                </md-tab-body>
            </md-tab>
        </md-tabs>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" type="submit" ng-click="ctrl.saveOrUpdate(announcementForm.$invalid)"  >บันทึก</md-button>
            <md-button class="md-raised " ng-click="ctrl.clearData()">ล้างค่า</md-button>
            <md-button class="md-raised " ng-click="ctrl.goBack()">กลับ</md-button>
        </section>
    </md-content>   
</form>
