﻿<div>
    <div class="wrapper-input" layout="row" layout-wrap>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>อนุมัติโดย</label>
            <md-radio-group name="PURCHASE_APPROVE_BY" ng-model="ctrl.modelSave.PURCHASE_APPROVE_BY">
                <md-radio-button value="T">ผว.</md-radio-button>
                <md-radio-button value="F">คณะกรรมการ กคช.</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>การประชุมครั้งที่</label>
            <input name="PURCHASE_APPROVE_MEETING_NO" ng-model="ctrl.modelSave.PURCHASE_APPROVE_MEETING_NO" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>วันที่อนุมัติ</label>
            <md-datepicker name="PURCHASE_APPROVE_DATE" ng-model="ctrl.modelSave.PURCHASE_APPROVE_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>

        <!-- *******************************************เนื้อที่ขออนุมัติ********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>เนื้อที่ขออนุมัติ</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>ไร่</label>
            <input name="PURCHASE_APPROVE_RAI" ng-model="ctrl.modelSave.PURCHASE_APPROVE_RAI" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>งาน</label>
            <input name="PURCHASE_APPROVE_NGAN" ng-model="ctrl.modelSave.PURCHASE_APPROVE_NGAN" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
            <label>วา</label>
            <input name="PURCHASE_APPROVE_WA" ng-model="ctrl.modelSave.PURCHASE_APPROVE_WA" type="number">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาที่ดินซื้อต่อไร่</label>
            <input name="PURCHASE_APPROVE_PRICE_OF_RAI" ng-model="ctrl.modelSave.PURCHASE_APPROVE_PRICE_OF_RAI" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาที่ดินรวม</label>
            <input name="APPROVE_SUM_PRICE_AREA" ng-model="ctrl.modelSave.APPROVE_SUM_PRICE_AREA" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>จำนวนหน่วย</label>
            <input name="UNIT_VALUE" ng-model="ctrl.modelSave.UNIT_VALUE" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ราคาต่อหน่วย</label>
            <input name="PRICE_OF_UNIT" ng-model="ctrl.modelSave.PRICE_OF_UNIT" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รหัสโครงการ,ชื่อโครงการ</label>
            <!--dropdown  PROJECT_ID-->
        </md-input-container>

        <!-- *******************************************ข้อมูล ไฟล์ รูปภาพ แผนผัง (แปลงที่ดิน)********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>ข้อมูล ไฟล์ รูปภาพ แผนผัง (แปลงที่ดิน)</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียดแปลงที่ดินที่อนุมัติซื้อ</label>
            <input name="" ng-model="" type="file">
        </md-input-container>

        <!-- *******************************************ข้อมูลทำสัญญาซื้อที่ดิน********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>ข้อมูลทำสัญญาซื้อที่ดิน</h3>
        </div>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>เลขที่สัญญา</label>
            <input name="CONTRACT_NO" ng-model="ctrl.modelSave.CONTRACT_NO" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>วันที่ทำสัญญา</label>
            <md-datepicker name="CONTRACT_DATE" ng-model="ctrl.modelSave.CONTRACT_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียดสัญญา</label>
            <input name="" ng-model="" type="file">
        </md-input-container>

        <!-- *******************************************ข้อมูลการโอนกรรมสิทธิ์ที่ดิน********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>ข้อมูลการโอนกรรมสิทธิ์ที่ดิน</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>วันที่โอนกรรมสิทธิ์ที่ดิน</label>
            <md-datepicker name="CONTRACT_DATE" ng-model="ctrl.modelSave.CONTRACT_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ชื่อเจ้าหน้าที่ผู้โอนกรรมสิทธิ์ที่ดิน</label>
            <!--dropdown OWNERSHIP_TRANSFER_DATE -->
        </md-input-container>
        <!-- *******************************************ข้อมูลการโอนกรรมสิทธิ์ที่ดิน********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>ค้นหาโฉนดที่อนุมัติซื้อจากประกาศ</h3>
        </div>
        <!--datatable-->


    </div>

</div>