@import "bourbon";
@import "./base/mixins.scss";
@import "./variables.scss";

@include font-face("THSarabunPSK", "../fonts/THSarabun", $file-formats: eot woff2 woff);
@include font-face("THSarabunPSK-Bold", "../fonts/THSarabun Bold", $file-formats: eot woff2 woff);
@include font-face("THSarabunNew", "../fonts/THSarabunNew", $file-formats: eot woff2 woff);
@include font-face("THSarabunNew-Bold", "../fonts/THSarabunNew Bold", $file-formats: eot woff2 woff);

html {
    font-size: 100%;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    line-height: normal;
    outline: none;
    letter-spacing: 0.055rem;
}

body {
    font: {
        size: 100%;
        family: $sarabunNew-Bold;
    }

    color: $color-7_61A;
    background-color: transparent;
    overflow: hidden;
}

a {
    color: $color-3;
    text-decoration: none;
    transition: all 0.3s;

    &:link {
        color: $color-1;
    }

    &:visited {
        color: $color-2;
    }

    &:hover {
        color: $color-2;
    }
}

* {
    outline: none;
    word-wrap: break-word;
}

*::-webkit-scrollbar {
    width: 6px;
    -webkit-appearance: none;
}

*::-webkit-scrollbar:horizontal {
    height: 6px;
}

/* Track */

*::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 2s;
}

*:hover::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Handle */

*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
    transition: background 0.2s;
}

*:hover::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

[show-getter-1366] {
    @media only screen and (min-width: 1367px) {
        display: flex;
    }

    @media only screen and (max-width: 1366px) {
        display: none;
    }
}

[show-less-599] {
    @media only screen and (max-width: 599px) {
        display: none;
    }

    @media only screen and (min-width: 600px) {
        display: flex;
    }
}

[show-less-768] {
    @media only screen and (max-width: 768px) {
        display: none;
    }

    @media only screen and (min-width: 769px) {
        display: flex;
    }
}

[show-less-1367] {
    @media only screen and (max-width: 1366px) {
        display: flex;
    }

    @media only screen and (min-width: 1367px) {
        display: none;
    }
}

main.main-container {
    color: $color-7_61A;
    position: absolute;
    height: auto;
    top: 131px;
    right: 0;
    bottom: 0;
    left: 0;

    @include MQ(XL) {
        // position: unset;
        // height: unset;
        // top: unset;
        // bottom: unset;
    }

    .view-container {
        height: calc(100vh - 131px);
        overflow: auto;
        @include MQ(XL) {
            height: auto;
        }
    }

    .content-padding {
        padding: 25px 55px;

        @include MQ(SM) {
            padding: 25px 25px;
        }
    }

    .overlay-main {
        @include MQ(XL) {
            background-color: rgba(0, 0, 0, 0.3);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 99;
        }
    }
}