// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin rem($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// breakpoints
$XS:     599px;   
$XM:     768px;     
$SM:     959px;
$MD:    1280px;
$XL:    1366px;
$XLG:   1600px;
$XXL:   1920px;  

// media queries

@mixin MQ($canvas) {
  @if $canvas == XS {
   @media only screen and (max-width: $XS) { @content; } 
  }
  @else if $canvas == XM {
   @media only screen and (max-width: $XM) { @content; } 
  }
  @else if $canvas == SM {
   @media only screen and (max-width: $SM) { @content; } 
  }
  @else if $canvas == MD {
   @media only screen and (max-width: $MD) { @content; } 
  }
  @else if $canvas == XL {
   @media only screen and (max-width: $XL) { @content; } 
  }
  @else if $canvas == XLG {
   @media only screen and (max-width: $XLG) { @content; } 
  }
  @else if $canvas == XXL {
   @media only screen and (max-width: $XXL) { @content; } 
  }
}
