// colors

$color-1_61A: #b6ea83;
$color-2_61A: #ffffff;
$color-3_61A: #006837;
$color-4_61A: #009345;
$color-5_61A: #44c152;
$color-6_61A: #fffda4;
$color-7_61A: #754c28;
$color-8_61A: #6ee571;
$color-9_61A: #3a9b3f;
$color-10_61A: #979797;



$color-1: #263656;
$color-2: #00538C;
$color-3: #4D4D4D;
$color-4: #BBBDBF;
$color-5: #536591;
$color-6: #E6E6E6;
$color-7: #D0D2D3;
$color-8: #FFFFFF;
$color-9: #333333;
$color-10: #283F51;
$color-11: #fcee21;
$color-12: #194886;
$color-13: #326499;
$color-14: #16375B;
$color-15: #224A6D;
$color-16: #0D253A;
$color-17: #BCBEC0; //tab
$color-18: rgb(221,44,0); //note
$color-19: #F2F2F2;
$color-20: #CCCCCC;
$color-21: #B3B3B3;
$color-22: #4E85B7;
$color-23: #599FD3;
$color-24: #fda400;
$color-25: #121212;


$font-size-1_61A: 61px;
$font-size-2_61A: 48px;


// fonts family
$sarabunPSK-Normal: 'THSarabunPSK';
$sarabunPSK-Bold: 'THSarabunPSK-Bold';
$sarabunNew-Normal: 'THSarabunNew';
$sarabunNew-Bold: 'THSarabunNew-Bold';

// input font-size
$input-FontSize-1: 27px;
$input-FontSize-2: 20px;

// header font-size
$header-FontSize-1: 30px;
$header-FontSize-2: 28px;
$header-FontSize-3: 36px;
$header-FontSize-4: 18px;

// menu font-size
$menu-FontSize-1: 28px;
$menu-FontSize-2: 24px;
$menu-FontSize-3: 26px;

// tab font-size
$tab-FontSize-1: 30px;

// breadcrumb font-size
$breadcrumb-FontSize-1: 28px;

// grid font-size
$grid-FontSize-1: 26px;

// grid color
$grid-color-1: #e6e7e8;
$grid-color-2: #d4e7d0;

// border color
$border-color-1: rgba(64,64,65, 1);
$border-color-2: #1B1464;
$border-color-3: #999999;
$border-color-4: #ffffff;