﻿<div>
    <div layout="column">
        <div>ข้อมูลโฉนดที่ดิน > เพิ่มข้อมูล</div>
        <div>รายละเอียด</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="PROJECT" model="ctrl.model.PROJECT"></mz>
            <mz input-dir="LAND_USE_TYPE_ID" model="ctrl.model.LAND_USE_TYPE_ID"></mz>
        </div>

        <div>ที่ตั้ง</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="PROVINCE_ID" model="ctrl.model.PROVINCE_ID"></mz>
            <mz input-dir="DISTRICT_ID" model="ctrl.model.DISTRICT_ID"></mz>
            <mz input-dir="SUBDISTRICT_ID" model="ctrl.model.SUBDISTRICT_ID"></mz>
            <mz input-dir="LAND_DESC" model="ctrl.model.LAND_DESC"></mz>
            <mz input-dir="DEED_NO" model="ctrl.model.DEED_NO"></mz>
            <mz input-dir="PARCEL_NO" model="ctrl.model.PARCEL_NO"></mz>
            <mz input-dir="DEALING_FILE_NO" model="ctrl.model.DEALING_FILE_NO"></mz>
            <mz input-dir="HOUSE_NO" model="ctrl.model.HOUSE_NO"></mz>
            <mz input-dir="HOUSE_NO2" model="ctrl.model.HOUSE_NO2"></mz>
        </div>

        <div>ที่ตั้งตามโฉนด</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="PROVINCE_ID" model="ctrl.model.PROVINCE_ID_DEED"></mz>
            <mz input-dir="DISTRICT_ID" model="ctrl.model.DISTRICT_ID_DEED"></mz>
            <mz input-dir="SUBDISTRICT_ID" model="ctrl.model.SUBDISTRICT_ID_DEED"></mz>
        </div>

        <div>ระวาง</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="MAPSHEET_NEW" model="ctrl.model.MAPSHEET_NEW"></mz>
            <mz input-dir="MAPSHEET_OLD" model="ctrl.model.MAPSHEET_OLD"></mz>
            <mz input-dir="SUBDISTRICT_ID" model="ctrl.model.SUBDISTRICT_ID_DEED"></mz>
        </div>

        <div>เนื้อที่ตามโฉนด</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="DEED_RAI" model="ctrl.model.SIZE_IN_DEED_RAI"></mz>
            <mz input-dir="DEED_NGAN" model="ctrl.model.SIZE_IN_DEED_NGAN"></mz>
            <mz input-dir="DEED_WA" model="ctrl.model.SIZE_IN_DEED_WA"></mz>
        </div>

        <div>เนื้อที่ที่ใช้ไป</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="DEED_RAI" model="ctrl.model.USED_SIZE_RAI"></mz>
            <mz input-dir="DEED_NGAN" model="ctrl.model.USED_SIZE_NGAN"></mz>
            <mz input-dir="DEED_WA" model="ctrl.model.USED_SIZE_WA"></mz>
        </div>

        <div>เนื้อที่คงเหลือ</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="DEED_RAI" model="ctrl.model.REMAIN_SIZE_RAI"></mz>
            <mz input-dir="DEED_NGAN" model="ctrl.model.REMAIN_SIZE_NGAN"></mz>
            <mz input-dir="DEED_WA" model="ctrl.model.REMAIN_SIZE_WA"></mz>
        </div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="FUNCTION_LAND_ID" model="ctrl.model.FUNCTION_LAND_ID"></mz>
            <mz input-dir="CONTRACT_TYPE_ID" model="ctrl.model.CONTRACT_TYPE_ID"></mz>
        </div>

        <div>บุคคลธรรมดา</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="PREFIX_ID" model="ctrl.model.PREFIX_ID"></mz>
            <mz input-dir="NAME_TH" model="ctrl.model.NAME_TH"></mz>
            <mz input-dir="LASTNAME_TH" model="ctrl.model.LASTNAME_TH"></mz>
            <mz input-dir="ID_CARD" model="ctrl.model.ID_CARD"></mz>
        </div>

        <div>บริษัท</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="OFFICE_NAME" model="ctrl.model.OFFICE_NAME"></mz>
            <mz input-dir="ATTORNEY" model="ctrl.model.ATTORNEY"></mz>
            <mz input-dir="ID_CARD" model="ctrl.model.ATTORNEY_ID_CARD"></mz>
        </div>

        <div>สถานะการโอน</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="TRANSFER_STATUS" model="ctrl.model.TRANSFER_STATUS"></mz>
            <mz input-dir="TRANSFER_DATE" model="ctrl.model.TRANSFER_DATE"></mz>
            <mz input-dir="EDITOR_NAME" model="ctrl.model.EDITOR_NAME"></mz>
            <mz input-dir="TRANSFEROR_NAME" model="ctrl.model.TRANSFEROR_NAME"></mz>
            <mz input-dir="MANAGEMENT_POSITION_ID" model="ctrl.model.MANAGEMENT_POSITION_ID"></mz>
        </div>

        <div>สถานะการเบิก/ยืม/คืน</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            ...
        </div>

        <div>รายละเอียดการใช้ประโยชน์ที่ดิน</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="LAND_USE_TYPE_ID" model="ctrl.model.LAND_USE_TYPE_ID"></mz>
        </div>
    </div>

    <div layout="column">
        <mz input-dir="BTN_ADD"></mz>
    </div>

    <div layout="column">
        <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
    </div>
</div>