﻿<div>
    <div layout="column">
        <div>การค้นหา : ข้อมูลโฉนดที่ดิน</div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="LAND_USE_TYPE_ID" model="ctrl.model.LAND_USE_TYPE_ID"></mz>
            <mz input-dir="PROJECT" model="ctrl.model.PROJECT"></mz>
            <mz input-dir="DEED_NO" model="ctrl.model.DEED_NO"></mz>
            <mz input-dir="DEED_NO" model="ctrl.model.DEED_NO2" refer="ctrl.model.DEED_NO"></mz>
            <mz input-dir="PARCEL_NO" model="ctrl.model.PARCEL_NO"></mz>
            <mz input-dir="DEALING_FILE_NO" model="ctrl.model.DEALING_FILE_NO"></mz>
            <mz input-dir="HOUSE_NO" model="ctrl.model.HOUSE_NO"></mz>
            <mz input-dir="HOUSE_NO2" model="ctrl.model.HOUSE_NO2"></mz>
            <mz input-dir="HOUSE_NO" model="ctrl.model.HOUSE_NO_TO" refer="ctrl.model.HOUSE_NO"></mz>
            <mz input-dir="HOUSE_NO2" model="ctrl.model.HOUSE_NO2_TO" refer="ctrl.model.HOUSE_NO2"></mz>
            <mz input-dir="CUSTOMER" model="ctrl.model.CUSTOMER"></mz>
            <mz input-dir="LAND_DESC" model="ctrl.model.LAND_DESC"></mz>
            <mz input-dir="TRANSFER_DATE" model="ctrl.model.TRANSFER_DATE"></mz>
            <mz input-dir="TRANSFER_DATE" model="ctrl.model.TRANSFER_DATE2" refer="ctrl.model.TRANSFER_DATE"></mz>
            <mz input-dir="TRANSFER_STATUS" model="ctrl.model.TRANSFER_STATUS"></mz>
            <mz input-dir="FUNCTION_LAND_ID" model="ctrl.model.FUNCTION_LAND_ID"></mz>
        </div>
    </div>

    <div layout="column">
        <mz input-dir="BTN_ADD"></mz>
        <mz input-dir="BTN_SAVE_DEFAULT"></mz>
    </div>

    <div layout="column">
        <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
    </div>
</div>