﻿<div>
    <div class="wrapper-input" layout="row" layout-wrap>
        

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>วันที่ตรวจสอบสภาพ</label>
            <md-datepicker name="CHECK_AREA_DATE" ng-model="ctrl.modelSave.CHECK_AREA_DATE" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>
        <!-- *******************************************datatable********************************************* -->


        <!-- *******************************************datatable********************************************* -->

        <!-- *******************************************ทางเข้าออกที่ดิน********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>ทางเข้าออกที่ดิน</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ถนนคอนกรีต</label>
            <md-radio-group name="IS_CONCRETE_STATUS" ng-model="ctrl.modelSave.IS_CONCRETE_STATUS">
                <md-radio-button value="T" >มี</md-radio-button>
                <md-radio-button value="F"> ไม่มี </md-radio-button> 
            </md-radio-group>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียด</label>
            <input name="DESC_CONCRETE" ng-model="ctrl.modelSave.DESC_CONCRETE" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ถนนคอนลาดยาง</label>
            <md-radio-group name="IS_ASPHALT_STATUS" ng-model="ctrl.modelSave.IS_ASPHALT_STATUS">
                <md-radio-button value="T">มี</md-radio-button>
                <md-radio-button value="F"> ไม่มี </md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียด</label>
            <input name="DESC_ASPHALT" ng-model="ctrl.modelSave.DESC_ASPHALT" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ถนนลูกรัง</label>
            <md-radio-group name="IS_GRAVEL_STATUS" ng-model="ctrl.modelSave.IS_GRAVEL_STATUS">
                <md-radio-button value="T">มี</md-radio-button>
                <md-radio-button value="F"> ไม่มี </md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียด</label>
            <input name="DESC_GRAVEL" ng-model="ctrl.modelSave.DESC_GRAVEL" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>อื่นๆ</label>
            <md-radio-group name="IS_ENTRANCE_STATUS" ng-model="ctrl.modelSave.IS_ENTRANCE_STATUS">
                <md-radio-button value="T">มี</md-radio-button>
                <md-radio-button value="F"> ไม่มี </md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียด</label>
            <input name="DESC_ENTRANCE" ng-model="ctrl.modelSave.DESC_ENTRANCE" type="text" >
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>หน้ากว้างติดถนน(เมตร)</label>
            <input name="ROAD_FRONTAGE" ng-model="ctrl.modelSave.ROAD_FRONTAGE" type="text">
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ระดับดิน(เมตร)</label>
            <input name="AREA_LEVEL" ng-model="ctrl.modelSave.AREA_LEVEL" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>หลุม/บ่อ</label>
            <md-radio-group name="IS_DIMPLE_STATUS" ng-model="ctrl.modelSave.IS_DIMPLE_STATUS">
                <md-radio-button value="T">มี</md-radio-button>
                <md-radio-button value="F"> ไม่มี </md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียด</label>
            <input name="DESC_DIMPLE" ng-model="ctrl.modelSave.DESC_DIMPLE" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>สิ่งปลูกสร้าง</label>
            <md-radio-group name="" ng-model="ctrl.modelSave.IS_BUILDING_STATUS">
                <md-radio-button value="T">มี</md-radio-button>
                <md-radio-button value="F"> ไม่มี </md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียด</label>
            <input name="DESC_BUILDING" ng-model="ctrl.modelSave.DESC_BUILDING" type="text">
        </md-input-container>


        <!-- *******************************************สาธารณูประโภค********************************************* -->
        <div flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <h3>สาธารณูประโภค</h3>
        </div>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>น้ำปะปา</label>
            <md-radio-group name="IS_TAP_WATER_STATUS" ng-model="ctrl.modelSave.IS_TAP_WATER_STATUS">
                <md-radio-button value="T">มี</md-radio-button>
                <md-radio-button value="F"> ไม่มี </md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียด</label>
            <input name="DESC_TAP_WATER" ng-model="ctrl.modelSave.DESC_TAP_WATER" type="text" >
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>น้ำบาดาล</label>
            <md-radio-group name="IS_GROUNDWATER_STATUS" ng-model="ctrl.modelSave.IS_GROUNDWATER_STATUS">
                <md-radio-button value="T">มี</md-radio-button>
                <md-radio-button value="F"> ไม่มี </md-radio-button>
            </md-radio-group>
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียด</label>
            <input name="DESC_GROUNDWATER" ng-model="ctrl.modelSave.DESC_GROUNDWATER" type="text" >
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ไฟฟ้า</label>
            <md-radio-group name="IS_ELECTRICITY_STATUS" ng-model="ctrl.modelSave.IS_ELECTRICITY_STATUS">
                <md-radio-button value="T">มี</md-radio-button>
                <md-radio-button value="F"> ไม่มี </md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียด</label>
            <input name="DESC_ELECTRICITY" ng-model="ctrl.modelSave.DESC_ELECTRICITY" type="text" >
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>โทรศัพท์</label>
            <md-radio-group name="IS_TELEPHONE_STATUS" ng-model="ctrl.modelSave.IS_TELEPHONE_STATUS">
                <md-radio-button value="T">มี</md-radio-button>
                <md-radio-button value="F"> ไม่มี </md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียด</label>
            <input name="DESC_TELEPHONE" ng-model="ctrl.modelSave.DESC_TELEPHONE" type="text" >
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>ฝังเมือง</label>
            <!--multi-->
            <md-select ng-model="ctrl.configMultiSelectCityPlan.selectedItem"
                       ng-required="ctrl.required"
                       md-on-close="ctrl.clearSearchCityPlan()"
                       data-md-container-class=""
                       ng-change="ctrl.onChangeProvince(ctrl.configMultiSelectCityPlan.selectedItem)">
                <md-select-header class="">
                    <input id="searchDep" ng-model="ctrl.configMultiSelectCityPlan.textSearch"
                           type="search"
                           placeholder="ฝังเมือง"
                           class="demo-header-searchbox md-text">
                </md-select-header>
                <md-optgroup label="CityPlan">
                    <md-option ng-value="item" ng-repeat="item in ctrl.provinceList  | filter:ctrl.configMultiSelectCityPlan.textSearch">{{item.PROVINCE_NAME_TH}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>นอกเขตผังเมือง</label>
            <input name="TOWN_PLAN_OUT" ng-model="ctrl.modelSave.TOWN_PLAN_OUT" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียดฝังเมือง/นอกเขตผังเมือง</label>
            <input name="DESC_TOWN_PLAN_OUT" ng-model="ctrl.modelSave.DESC_TOWN_PLAN_OUT" type="text" md-maxlength="3000">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>คุณสมบัติตามประกาศ</label>
            <md-radio-group name="IS_NOTICE_QUALIFICATION_STATUS" ng-model="ctrl.modelSave.IS_NOTICE_QUALIFICATION_STATUS">
                <md-radio-button value="T">มี</md-radio-button>
                <md-radio-button value="F"> ไม่มี </md-radio-button>
            </md-radio-group>
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
            <label>รายละเอียด</label>
            <input name="DESC_NOTICE_QUALIFICATION" ng-model="ctrl.modelSave.DESC_NOTICE_QUALIFICATION" type="text" >
        </md-input-container>

    </div>

</div>