﻿<div class="input-container" layout="row" layout-align-xs="center center" layout-align="end center">
   
     <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="width: 300px;">
            <label>หน่วยงานที่ดูแลที่ดิน</label>
            <md-select ng-model="rtReportCtrl.document_id">
                <md-option ng-repeat="C in rtReportCtrl.MAINTENANCE_DEPARTMENT_ID" ng-value="C.ID">{{C.P_COST_LAND}}</md-option>
            </md-select>
        </md-input-container>
    </div>

        <!--<div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
            <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
                <label>รหัสโครงการ,ชื่อโครงการ</label>
                <input type="text"
                       ng-model="rtReportCtrl.PROJECT_ID" />
            </md-input-container>
        </div>-->


    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>รหัสโครงการ,ชื่อโครงการ</label>
            <md-autocomplete ng-disabled="rtReportCtrl.configPROJECT_IDAutoComplete.isDisabled"
                             md-no-cache="rtReportCtrl.configPROJECT_IDAutoComplete.noCache"
                             md-selected-item="rtReportCtrl.configPROJECT_IDAutoComplete.selectedItem"
                             md-search-text-change="rtReportCtrl.searchTextChange(rtReportCtrl.configPROJECT_IDAutoComplete.searchText)"
                             md-search-text="rtReportCtrl.configPROJECT_IDAutoComplete.searchText"
                             md-selected-item-change="rtReportCtrl.selectedItemChangePROJECT_ID(item)"
                             md-items="item in rtReportCtrl.querySearchPROJECT_ID(rtReportCtrl.configPROJECT_IDAutoComplete.searchText)"
                             md-item-text="item.PROJECT_ID" md-min-length="0"
                             ng-required="true">
                <md-item-template>
                    <span md-highlight-text="rtReportCtrl.configPROJECT_IDAutoComplete.searchText" md-highlight-flags="^i">{{item.PROJECT_ID}}</span>
                </md-item-template>
                <md-not-found>
                    ไม่พบข้อมูลที่ตรงกับ "{{rtReportCtrl.configPROJECT_IDAutoComplete.searchText}}"
                </md-not-found>
            </md-autocomplete>
        </md-input-container>
    </div>


        <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
            <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
                <label>จังหวัด</label>
                <md-autocomplete ng-disabled="rtReportCtrl.configProvinceAutoComplete.isDisabled"
                                 md-no-cache="rtReportCtrl.configProvinceAutoComplete.noCache"
                                 md-selected-item="rtReportCtrl.configProvinceAutoComplete.selectedItem"
                                 md-search-text-change="rtReportCtrl.searchTextChange(rtReportCtrl.configProvinceAutoComplete.searchText)"
                                 md-search-text="rtReportCtrl.configProvinceAutoComplete.searchText"
                                 md-selected-item-change="rtReportCtrl.selectedItemChangeProvince(item)"
                                 md-items="item in rtReportCtrl.querySearchProvince(rtReportCtrl.configProvinceAutoComplete.searchText)"
                                 md-item-text="item.PROVINCE_NAME_TH" md-min-length="0"
                                 ng-required="true">
                    <md-item-template>
                        <span md-highlight-text="rtReportCtrl.configProvinceAutoComplete.searchText" md-highlight-flags="^i">{{item.PROVINCE_NAME_TH}}</span>
                    </md-item-template>
                    <md-not-found>
                        ไม่พบข้อมูลที่ตรงกับ "{{rtReportCtrl.configProvinceAutoComplete.searchText}}"
                    </md-not-found>
                </md-autocomplete>
            </md-input-container>
        </div>

    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>โฉนดเลขที่</label>
            <input type="text"
                   ng-model="rtReportCtrl.DEED_NO" />
        </md-input-container>
    </div>
    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>ถึงโฉนดเลขที่</label>
            <input type="text"
                   ng-model="rtReportCtrl.DEED_TO_NO" />
        </md-input-container>
    </div>

    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>ชื่อผู้ดูแล</label>
            <input type="text"
                   ng-model="rtReportCtrl.LAND_ADMINISTRATOR" />
        </md-input-container>
    </div>

    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>สัญญาเลขที่</label>
            <input type="text"
                   ng-model="rtReportCtrl.CONTRACT_NO" />
        </md-input-container>
    </div>

    <!--<div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="width: 300px;">
            <label>ประเภท</label>
            <md-select ng-model="rtReportCtrl.document_id">
                <md-option ng-repeat="C in rtReportCtrl.document_idList" ng-value="C.ID">{{C.DATA_TOPIC}}</md-option>
            </md-select>
        </md-input-container>
    </div>-->

    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="input-container" style="max-width: calc(100% - 10px)">
            <label>ช่วงวันที่เริ่มสัญญา</label>
            <md-datepicker name="CONTRACT_START_DATE_ST" ng-model="rtReportCtrl.CONTRACT_START_DATE_ST" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>
    </div>
    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="input-container" style="max-width: calc(100% - 10px)">
            <label>ถึงวันที่</label>
            <md-datepicker name="CONTRACT_START_DATE_ED" ng-model="rtReportCtrl.CONTRACT_START_DATE_ED" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>
    </div>

        <md-input-container class="have label-float" layout="row" layout-align-xs="center center" layout-align="end center">
            <md-button class="main-btn" ng-click="rtReportCtrl.getReport()" layout="row" layout-align="center center">
                <img ng-src="../../../Content/icon/icon-search.svg">ออกรายงาน
            </md-button>
            <md-button class="main-btn" ng-click="rtReportCtrl.clear()" layout="row" layout-align="center center">
                <img ng-src="../../../Content/icon/icon-reset.svg">ล้างค่า
            </md-button>
        </md-input-container>
    </div>

<form id="frmForSubmitParameter" method="post">
    <input id="JsonParameter" name="JsonParameter" type="hidden">
</form>