﻿<!DOCTYPE html><%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RP_101.aspx.cs" Inherits="ITS_61A.Reports.RP_1.RP_101" %>

 <%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
        <link href="../../../Scripts/angular-material/angular-material.min.css" rel="stylesheet" />
    <link href="../../../Scripts/kendo-ui/2017.1.223/css/kendo.common-material.css" rel="stylesheet"/>
    <link href="../../../Scripts/kendo-ui/2017.1.223/css/kendo.material.css" rel="stylesheet" />
    <link href="../../../Scripts/kendo-ui/2017.1.223/css/kendo.material.mobile.css" rel="stylesheet" />
    <link href="../../../Style/main.css" rel="stylesheet" />
</head>
       <body style="background-color: #fff;">

            <div ng-app="reportRp101App">

                <report-rp101></report-rp101>

            </div>

            <form id="form1" runat="server">
                 <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
                <rsweb:ReportViewer ID="ReportViewer1" runat="server">
                </rsweb:ReportViewer>
            </form>

            <script src="../../../Scripts/Jquery/jquery-2-2.4.min.js"></script>
            <script src="../../../Scripts/lodash/lodash.min.js"></script>
            <script src="../../../Scripts/angularJs/angular.js"></script>
            <script src="../../../Scripts/angularJs/angular-sanitize.min.js"></script>
            <script src="../../../Scripts/angularJs/angular-messages.min.js"></script>
            <script src="../../../Scripts/angularJs/angular-route.min.js"></script>
            <script src="../../../Scripts/angularJs/angular-cookies.js"></script>
            <script src="../../../Scripts/angularJs/angular-animate.min.js"></script>
            <script src="../../../Scripts/angularJs/angular-aria.min.js"></script>
            <script src="../../../Scripts/angularJs/angular-touch.min.js"></script>
            <script src="../../../Scripts/angular-material/angular-material.min.js"></script>
            <script src="../../../Scripts/moment/moment.min.js"></script>
            <script src="../../../Scripts/jszip.js"></script>
            <script src="../../../bundles/js?v=f-rOZpG8nqcdBI9IS1kiTRlij7Eim7N9U1_RJYwd4_w1" type="text/javascript" language="text/javascript"></script>
            
           <script src="report-rp101.component.js"></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#ReportViewer1_ReportViewer").hide();
                    Sys.Application.add_load(function () {
                        $find("ReportViewer1").add_propertyChanged(viewerPropertyChanged);
                    });
                });

                function viewerPropertyChanged(sender, e) {
                    $("#ReportViewer1_ReportViewer").show();
                    if (e.get_propertyName() == "isLoading") {
                        if ($find("ReportViewer1").get_isLoading()) {
                            $("#VisibleReportContentReportViewer1_ctl09").find('div').find("table:first").attr("align", "center");
                        } else {
                            $("#VisibleReportContentReportViewer1_ctl09").find('div').find("table:first").attr("align", "center");
                        }
                    }
                };
            </script>
        </body>
</html>
