// variable
@import "../../base/variables.scss";
// use for plugin family.scss
@import "../../plugin/family/family.scss";

// fix angular material
@import "../../base/fix-kendoui.scss";
// button
@import "../../component/button/button.scss";

#login-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    md-input-container .md-input {
        border-color: rgba(255, 255, 255, 0.75) !important;
    }

    .bg-login {
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // background: linear-gradient(180deg, rgb(12, 106, 131), rgb(36, 59, 100));
        background-size: cover;
        background-image: url("../image/icon/bg-login.png");
    }

    #block-login {
        border: 2px solid #fff;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.15);
        min-width: 550px;
        max-width: 550px;
        min-height: 190px;
        padding: 25px 40px 30px 40px;
        margin-bottom: 25px;

        @include MQ(XL) {
            // margin-top: -60px;
        }

        .text-title {
            color: #fff;
            font-family: "THSarabunPSK-Bold";
            font-size: 40px;
        }

        .label-img {
            margin: 0 20px 0 0;
        }
    }

    .logo-login {
        // position: absolute;
        // transform: translate(-57%, -80px);
        // margin-top: -195px;
        // @include MQ(XL) {
        //     transform: translate(-57%, -80px);
        // }

        @include MQ(XL) {
            // transform: scale(0.75);
            // margin-top: -40px;
        }

        img {
            @include MQ(XL) {
                max-height: 270px;
                margin-left: -30px;
                margin-right: 20px;
            }
        }
    }

    .alert-login {
        position: absolute;
        bottom: 15px;
        text-align: center;

        .alert-popup {
            color: red;
            line-height: 1rem;
            position: relative;
            font-size: 29px;
            -webkit-text-stroke: 0.45px rgba(243,49,49, 0.1);
            text-shadow: #fff 0px 1px 1px;
        }
    }

    .project-nameTH,
    .project-nameEN {
        font: {
            family: $sarabunNew-Normal;
        }

        -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
        text-shadow: #fff 0px 1px 1px;
        color: $color-8;
    }

    .project-nameTH {
        font: {
            size: rem(72px);
        }

        margin-top: -50px;

        @include MQ(XL) {
            margin-top: 75px;

            font: {
                size: rem(90px);
            }
        }
    }

    .project-nameEN {
        font: {
            size: rem(58px);
        }

        margin: -30px 0 30px 0;

        @include MQ(XL) {
            margin-top: -45px;

            font: {
                size: rem(72px);
            }
        }
    }
}