﻿<div >
    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <h2>ข้อมูลงานจัดหาที่ดิน > ข้อมูลชำระภาษีที่ดิน > เพิ่มข้อมูล</h2>

        <label>รายละเอียด</label>

        <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
            <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
                <label>ปีภาษี</label>
                <md-datepicker name="Tax_Date" ng-model="ctrl.modelSave.Tax_Date" md-hide-icons="triangle"></md-datepicker>
            </md-input-container>
        </div>

        <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
            <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100">
                <label>รหัสโครงการ,ชื่อโครงการ</label>
                <input ng-model="ctrl.Project_Id" type="text">
            </md-input-container>
        </div>

        <label>ที่ตั้ง</label>

        <div class="wrapper-input" layout="row" layout-wrap>
            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                <label>ตำบล/แขวง</label>
                <input name="SUBDISTRICT_ID" ng-model="ctrl.modelSave.SUBDISTRICT_ID" type="text">
            </md-input-container>

            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                <label>อำเภอ/เขต</label>
                <input name="DISTRICT_ID" ng-model="ctrl.modelSave.DISTRICT_ID" md-hide-icons="triangle">
            </md-input-container>

            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                <label>จังหวัด</label>
                <input name="PROVINCE_ID" ng-model="ctrl.modelSave.PROVINCE_ID" md-hide-icons="triangle">
            </md-input-container>
        </div>

        <label>โฉนด</label>

        <div layout="row">
            <div flex=""></div>

            <div flex="none">
                <md-button class="" ng-click="ctrl.Search()">
                    <img ng-src="Content/btn/search_btn.png">
                </md-button>
                <md-button class="" ng-click="ctrl.Default()">
                    <img ng-src="Content/btn/reset_btn.png">
                </md-button>
            </div>
        </div>

        <div class="" layout="row" layout-wrap>
            <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
        </div>

        <label>เนื้อที่คงเหลือรวม</label>

        <div class="wrapper-input" layout="row" layout-wrap>
            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                <label>ไร่</label>
                <input name="RAI" ng-model="ctrl.modelSave.RAI" type="text">
            </md-input-container>

            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                <label>งาน</label>
                <input name="NGAN" ng-model="ctrl.modelSave.NGAN" md-hide-icons="triangle">
            </md-input-container>

            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33" flex-gt-xs="100">
                <label>วา</label>
                <input name="WA" ng-model="ctrl.modelSave.WA" md-hide-icons="triangle">
            </md-input-container>
        </div>

        <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
            <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100">
                <label>ราคาประเมินที่ดินทั้งสิ้น (บาท)</label>
                <input ng-model="ctrl.Project_Id" type="text">
            </md-input-container>
        </div>

        <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
            <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100">
                <label>มูลค่าที่ดินทั้งสิ้น (บาท)</label>
                <input ng-model="ctrl.Project_Id" type="text">
            </md-input-container>
        </div>

        <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
            <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100">
                <label>ค่าภาษี (บาท)</label>
                <input ng-model="ctrl.Project_Id" type="text">
            </md-input-container>
        </div>

        <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
            <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100" flex-gt-xs="100">
                <label>วันที่ในใบเสร็จ</label>
                <md-datepicker name="Tax_Date" ng-model="ctrl.modelSave.Tax_Date" md-hide-icons="triangle"></md-datepicker>
            </md-input-container>
        </div>

        <div class="wrapper-input" layout="row" layout-wrap>
            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
                <label>ไฟล์แนบใบเสร็จ</label>
            </md-input-container>

            <md-button class="" ng-click="ctrl.ImportFileBill()">
                <img ng-src="Content/btn/import_btn.png">
            </md-button>
        </div>

        <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
            <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100">
                <label>ค่าภาษีปีถัดไป</label>
                <input ng-model="ctrl.Project_Id" type="text">
            </md-input-container>
        </div>

        <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
            <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100">
                <label>หน่วยงานที่รับชำระภาษี</label>
                <input ng-model="ctrl.Project_Id" type="text">
            </md-input-container>
        </div>

        <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100">
            <label>การใช้ประโยชน์ที่ดิน</label>
            <md-select ng-model="ctrl.Department_pay_tax" placeholder="การใช้ประโยชน์ที่ดิน">
                <md-option ng-repeat="item in ctrl.DepartmentPayTaxList" ng-value="item.ID">{{item.DATA_TOPIC}}</md-option>
            </md-select>
        </md-input-container>

        <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
            <md-input-container class="input-container" flex-gt-sm="100" flex-gt-md="100">
                <label>หมายเหตุ</label>
                <input ng-model="ctrl.Project_Id" type="text" md-maxlength="3000">
            </md-input-container>
        </div>

        <div class="wrapper-input" layout="row" layout-align="center center" layout-wrap>
            <md-button class="" ng-if="ctrl.test=='add' || ctrl.test=='edit'" ng-click="ctrl.Save()">
                <img ng-src="Content/btn/save_btn.png">
            </md-button>
            <md-button class="" ng-if="ctrl.test=='add' || ctrl.test=='edit'" ng-click="ctrl.Clear()">
                <img ng-src="Content/btn/clear_btn.png">
            </md-button>
            <md-button class="" ng-click="ctrl.Back()">
                <img ng-src="Content/btn/back_btn.png">
            </md-button>
        </div> 

     </div>
</div>