﻿<div layout="row" ng-show="ctrl.Mode == 1">

    <div flex-xs="100" flex-sm="100" flex-md="100" flex="100">
        <h2>การค้นหา : ข้อมูลชำระภาษีที่ดิน</h2>

        <div class="wrapper-input" layout="row" layout-wrap>
            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
                <label>ปีภาษี</label>
                <md-select ng-model="ctrl.Year" placeholder="ปีภาษี">
                    <md-option ng-repeat="item in ctrl.Tax_Year" ng-value="item.ANNUM_YEAR">{{item.ANNUM_YEAR}}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
                <label>รหัสโครงการ,ชื่อโครงการ</label>
                <input ng-model="ctrl.Project_Id" type="text">
            </md-input-container>

            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
                <label>โฉนดเลขที่</label>
                <input ng-model="ctrl.Deed_Id_From" type="text">
            </md-input-container>

            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
                <label>ถึงโฉนดเลขที่</label>
                <input ng-model="ctrl.Deed_Id_To" type="text">
            </md-input-container>

            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
                <label>จังหวัด</label>
                <md-autocomplete ng-disabled="ctrl.configProvinceAutoComplete.isDisabled"
                                 md-no-cache="ctrl.configProvinceAutoComplete.noCache"
                                 md-selected-item="ctrl.configProvinceAutoComplete.selectedItem"
                                 md-search-text-change="ctrl.searchTextChange(ctrl.configProvinceAutoComplete.searchText)"
                                 md-search-text="ctrl.configProvinceAutoComplete.searchText"
                                 md-selected-item-change="ctrl.selectedItemChangeProvince(item)"
                                 md-items="item in ctrl.querySearchProvince(ctrl.configProvinceAutoComplete.searchText)"
                                 md-item-text="item.PROVINCE_NAME_TH" md-min-length="0">
                    <md-item-template>
                        <span md-highlight-text="ctrl.configProvinceAutoComplete.searchText" md-highlight-flags="^i">{{item.PROVINCE_NAME_TH}}</span>
                    </md-item-template>
                    <md-not-found>
                        ไม่พบข้อมูลที่ตรงกับ "{{ctrl.configProvinceAutoComplete.searchText}}"
                    </md-not-found>
                </md-autocomplete>

                <!--<md-select ng-model="ctrl.Province" placeholder="จังหวัด">
                    <md-option ng-repeat="item in ctrl.ProvinceList" ng-value="item.ID">{{item.PROVINCE_NAME_TH}}</md-option>
                </md-select>-->
            </md-input-container>

            <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
                <label>หน่วยที่รับชำระภาษี</label>
                <md-select data-md-container-class="selectdemoSelectHeader" ng-model="ctrl.configMultiSelect_POSITION_LEVEL.POSITION_LEVEL" md-on-close="ctrl.clearSearchPOSITION_LEVEL()" multiple>
                    <md-select-header class="demo-select-header">
                        <input class="demo-header-searchbox md-text" id="position_level" ng-model="ctrl.configMultiSelect_POSITION_LEVEL.searchText" type="search" placeholder="ค้นหา...">
                    </md-select-header>

                    <md-optgroup label="หน่วยที่รับชำระภาษี">
                        <md-option ng-repeat="item in ctrl.POSITION_LEVEL_LIST |filter:{DATA_TOPIC:ctrl.configMultiSelect_POSITION_LEVEL.searchText}" ng-value="item.DOCUMENT_ID">{{item.DATA_TOPIC}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <!--<md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
                <label>หน่วยที่รับชำระภาษี</label>
                <md-select ng-model="ctrl.Department_pay_tax" placeholder="หน่วยที่รับชำระภาษี">
                    <md-option ng-repeat="item in ctrl.DepartmentPayTaxList" ng-value="item.ID">{{item.DATA_TOPIC}}</md-option>
                </md-select>
            </md-input-container>-->
        </div>

        <div layout="row">
            <div flex="">
                <md-button class="" ng-click="ctrl.Add()">
                    <img ng-src="Content/btn/add_data_btn.png">
                </md-button>
            </div>

            <div flex="none">
                <md-button class="" ng-click="ctrl.Search()">
                    <img ng-src="Content/btn/search_btn.png">
                </md-button>
                <md-button class="" ng-click="ctrl.Default()">
                    <img ng-src="Content/btn/reset_btn.png">
                </md-button>
            </div>
        </div>
        <div class="" layout="row" layout-wrap>
            <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
        </div>
    </div>     
</div>

<div ng-if="ctrl.Mode == 2">
    <insert-data-Pay-tax-land object="ctrl.paramObj"></insert-data-Pay-tax-land>
</div>

