﻿<!-- Header Detail -->

<!--<div class="headerDetailStyleB"><h2 id="header_text"></h2></div>-->

<!-- Tab And tabContent-->
<div class="tabContentStyleB" kendo-tab-strip="ctrl.tabManager" k-options="ctrl.tabManagerOptions"></div>


<!-- Popup -->
<div kendo-window="ctrl.win_save" k-width="600" k-visible="false" k-on-open="win2visible = true" k-on-close="win2visible = false" k-modal="true">
    <div kendo-validator="masterpopup" k-options="ctrl.masterpopupoption" id="masterpopupdiv">
        <input type="hidden" ng-model="ctrl.data_topic_doc_id">
        <span id="data_topic_select_div">
            <select ng-model="ctrl.data_topic_select">
                <option ng-repeat="x in data_topic_combo" value="{{x.id}}">{{x.name}}</option>
            </select>
        </span>
        <div id="data_topic_select_div"></div>
        <div id="data_topic_text_div"></div>
        <div class="form-group">
            <label>การใช้งาน &nbsp; &nbsp;</label>
            <label class="radio-inline"><input type="radio" ng-model="ctrl.data_topic_check" ng-value="true"> ใช้งาน</label>
            <label class="radio-inline"><input type="radio" ng-model="ctrl.data_topic_check" ng-value="false"> ระงับการใช้งาน</label>
        </div>
        <div class="footerBtnCenter">

            <kendo-button ng-click="ctrl.save_document()" class="btn btnYellow"><i class="far fa-save"></i> บันทึก</kendo-button>\
            <kendo-button ng-click="ctrl.close_document()" class="btn btnGray"><i class="fas fa-times"></i> ยกเลิก</kendo-button>\
        </div>
    </div>
</div>
