﻿<div class="input-container" layout="row" layout-align-xs="center center" layout-align="end center">
    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>ชื่อผู้เสนอขาย</label>
            <input type="text"
                   ng-model="rtReportCtrl.OffersalenameID" />
    </div>

    <!--div class="input-container">
        <md-input-container class="have label-float">
            <label>ช่วงวันที่เสนอขาย</label>
            <md-datepicker ng-model="rtReportCtrl.OFFER_SALE_DATE_ST" required></md-datepicker>
        </md-input-container>
    </div>

    <div class="input-container">
        <md-input-container class="have label-float">
            <label>ช่วงเวลาสิ้นสุด</label>
            <md-datepicker ng-model="rtReportCtrl.OFFER_SALE_DATE_ED" required></md-datepicker>
        </md-input-container>
    </div>-->

    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="input-container" style="max-width: calc(100% - 10px)">
            <label>ช่วงวันที่เสนอขาย</label>
            <md-datepicker name="CONTRACT_TO_DATE_ST" ng-model="rtReportCtrl.OFFER_SALE_DATE_ST" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>
    </div>

    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="input-container" style="max-width: calc(100% - 10px)">
            <label>ช่วงเวลาสิ้นสุด</label>
            <md-datepicker name="CONTRACT_TO_DATE_ED" ng-model="rtReportCtrl.OFFER_SALE_DATE_ED" md-hide-icons="triangle"></md-datepicker>
        </md-input-container>
    </div>

    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>โฉนดเลขที่</label>
            <input type="text"
                   ng-model="rtReportCtrl.DeedID" />
    </div>

    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>ถึง โฉนดเลขที่</label>
            <input type="text"
                   ng-model="rtReportCtrl.ToDeedID" />
    </div>

    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>เลขที่ดิน</label>
            <md-autocomplete ng-disabled="rtReportCtrl.configParcelAutoComplete.isDisabled"
                             md-no-cache="rtReportCtrl.configParcelAutoComplete.noCache"
                             md-selected-item="rtReportCtrl.configParcelAutoComplete.selectedItem"
                             md-search-text-change="rtReportCtrl.searchTextChange(rtReportCtrl.configParcelAutoComplete.searchText)"
                             md-search-text="rtReportCtrl.configParcelAutoComplete.searchText"
                             md-selected-item-change="rtReportCtrl.selectedItemChangeParcel(item)"
                             md-items="item in rtReportCtrl.querySearchParcel(rtReportCtrl.configParcelAutoComplete.searchText)"
                             md-item-text="item.PARCEL_NO" md-min-length="0"
                             ng-required="true">
                <md-item-template>
                    <span md-highlight-text="rtReportCtrl.configParcelAutoComplete.searchText" md-highlight-flags="^i">{{item.PARCEL_NO}}</span>
                </md-item-template>
                <md-not-found>
                    ไม่พบข้อมูลที่ตรงกับ "{{rtReportCtrl.configParcelAutoComplete.searchText}}"
                </md-not-found>
            </md-autocomplete>
        </md-input-container>
    </div>

    <!--<div class="input-container">
        <md-input-container class="have label-float" style="width: 300px;">
            <label>ตย ข้อมูล dropdown</label>
            <md-select ng-model="rtreportctrl.managementpositionid">
                <md-option ng-repeat="c in rtreportctrl.managementpositionlist" ng-value="c.id">{{c.data_topic}}</md-option>
            </md-select>
        </md-input-container>
    </div>-->
    
    <selection-area-address
        mode= "1"
        required= "false"
        province-selected= "rtReportCtrl.ProvinceID"
        district-selected= "rtReportCtrl.DistrictID"
        subdistrict-selected="rtReportCtrl.SubdistrictID"
        on-clear="rtReportCtrl.onClear"></selection-area-address>

    <div class="input-container" flex-xs="100" flex-sm="50" flex-md="25" flex="33">
        <md-input-container class="have label-float" style="max-width: calc(100% - 10px)">
            <label>ประกาศฉบับที่</label>
            <input type="text"
                   ng-model="rtReportCtrl.AnnoucementID" />
    </div>

    <md-input-container class="have label-float" layout="row" layout-align-xs="center center" layout-align="end center">
        <md-button class="main-btn" ng-click="rtReportCtrl.getReport()" layout="row" layout-align="center center">
            <img ng-src="../../../Content/icon/icon-search.svg">ออกรายงาน
        </md-button>
        <md-button class="main-btn" ng-click="rtReportCtrl.clear()" layout="row" layout-align="center center">
            <img ng-src="../../../Content/icon/icon-reset.svg">ล้างค่า
        </md-button>
    </md-input-container>
</div>

<form id="frmForSubmitParameter" method="post">
    <input id="JsonParameter" name="JsonParameter" type="hidden">
</form>