﻿<div layout="row">

    <div>
        <label><h4>การค้นหา : ข้อมูลประวัติรังวัดที่ดิน</h4></label>


        <div class="wrapper-input" layout="row" layout-wrap>
            <mz input-dir="PROJECT" model="ctrl.model.PROJECT"></mz>
            <mz input-dir="DEED_NO" model="ctrl.model.DEED_NO"></mz>
            <mz input-dir="DEED_NO" model="ctrl.model.DEED_NO2" refer="ctrl.model.DEED_NO"></mz>
            <mz input-dir="PROVINCE_ID" model="ctrl.model.PROVINCE_ID"></mz>
            <mz input-dir="DISTRICT_ID" model="ctrl.model.DISTRICT_ID"></mz>
            <mz input-dir="SUBDISTRICT_ID" model="ctrl.model.SUBDISTRICT_ID"></mz>
        </div>


        <div layout="row">
            <mz input-dir="BTN_SAVE_DEFAULT"></mz>
        </div>

        <div layout="row" layout-wrap>
            <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
        </div>
    </div>
</div>
