﻿<div ng-if="ctrl.Mode == 1">
    <div class="" layout="row" layout-wrap>
        <!--<div flex-xs="100" flex-sm="100" flex-md="100" flex="100">-->
        <!--<div flex="100" style="border-bottom:2px solid ">
            การตั้งค่าข้อมูลแจ้งผู้ใช้งาน
        </div>
        -->

        <div flex-xs="100" flex-sm="100" flex-md="33" flex="33">
            <md-input-container class="">
                <label>หัวข้อใหญ่</label>
                <input ng-model="ctrl.bigTopic" type="text">
            </md-input-container>
        </div>

        <div flex-xs="100" flex-sm="100" flex-md="33" flex="33">
            <md-input-container class="">
                <label>วันที่</label>
                <div flex-gt-xs="">
                    <md-datepicker ng-model="ctrl.startDateFrom" md-placeholder="Enter date" md-min-date="" md-max-date="ctrl.startDateTo"></md-datepicker>
                </div>
        </div>

        <div flex-xs="100" flex-sm="100" flex-md="33" flex="33">
            <md-input-container class="">
                <label>ถึงวันที่</label>
                <div flex-gt-xs>
                    <md-datepicker ng-model="ctrl.startDateTo" md-placeholder="Enter date" md-min-date="ctrl.startDateFrom" md-max-date=""></md-datepicker>
                </div>
        </div>

        <div flex-xs="100" flex-sm="100" flex-md="33" flex="33">
            <md-input-container class="">
                <label>ผู้แจ้งเตือน</label>
                <input ng-model="ctrl.notifier">
            </md-input-container>
        </div>

        <div flex-xs="100" flex-sm="100" flex-md="33" flex="33" flex-offset="33">
            <md-button class="" ng-click="ctrl.Search()">
                <img ng-src="Content/btn/search_btn.png">
            </md-button>
            <md-button class="" ng-click="ctrl.Clear()">
                <img ng-src="Content/btn/reset_btn.png">
            </md-button>
        </div>

    </div>

    <div flex-xs="100" flex-sm="100" flex-md="33" flex="33">
        <md-button ng-click="ctrl.InsertData()">
            <img ng-src="Content/btn/add_data_btn.png">
        </md-button>
        <md-button ng-click="ctrl.SortMessage()">
            <img ng-src="Content/btn/order_data_btn.png">
        </md-button>
    </div>

    <div class="" layout="row" layout-wrap>
        <!--<div>
            <grid-system-management g-option="ctrl.gridOptions"></grid-system-management>
        </div>-->
        <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
    </div>
</div>

<div ng-if="ctrl.Mode == 2 || ctrl.Mode == 3">
    <insert-user object="ctrl.paramObj"></insert-user>
</div>
<div ng-if="ctrl.Mode == 4">
    <sort-data object="ctrl.paramObj"></sort-data>
</div>