﻿<div class="grid-system-management">
    <div kendo-grid="gsmCtrl.kendoGrid" k-options="gsmCtrl.gridOptions"></div>
</div>

<style>

    .grid-system-management {
        
    }

     .btn-view {
        background-image: url(/Content/btn/view_table_btn.png);
    }
    .btn-edit {
        background-image: url(/Content/btn/edit_table_btn.png);
    }
    .btn-del {
        background-image: url(/Content/btn/delete_table_btn.png);
    }

</style>