﻿<div  layout="row" flex>
  
    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>จังหวัด</label>
        <md-select ng-model="ctrl.configServerSideProvince.selectedItem"
                   ng-required="ctrl.required"
                   md-on-close="ctrl.officeClearSearch(3)"
                   data-md-container-class=""
                   ng-change="ctrl.onChangeProvince(ctrl.configServerSideProvince.selectedItem,true)">
            <md-select-header class="">
                <input id="searchDep" ng-model="ctrl.configServerSideProvince.textSearch"
                       type="search"
                       placeholder="ค้นหาจังหวัด"
                       class="demo-header-searchbox md-text">
            </md-select-header>
            <md-optgroup label="province">
                <md-option ng-value="item" ng-repeat="item in ctrl.provinceList  | filter:ctrl.configServerSideProvince.textSearch">{{item.PROVINCE_NAME_TH}}</md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>เขต/อำเภอ</label>
        <md-select ng-model="ctrl.configServerSideDistrict.selectedItem"
                   ng-required="ctrl.required"
                   md-on-close="ctrl.officeClearSearch(2)"
                   data-md-container-class=""
                   ng-change="ctrl.onChangeDistrict(ctrl.configServerSideDistrict.selectedItem,true)">
            <md-select-header class="">
                <input id="searchDep" ng-model="ctrl.configServerSideDistrict.textSearch"
                       type="search"
                       placeholder="ค้นหาเขต/อำเภอ"
                       class="demo-header-searchbox md-text">
            </md-select-header>
            <md-optgroup label="district">
                <md-option ng-value="item" ng-repeat="item in ctrl.districtList  | filter:ctrl.configServerSideDistrict.textSearch">{{item.DISTRICT_NAME_TH}}</md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>

    <md-input-container class="input-container" flex-gt-sm="33" flex-gt-md="33" flex-gt-xs="100">
        <label>แขวง/ตำบล</label>
        <md-select ng-model="ctrl.configServerSideSubdistrict.selectedItem"
                   ng-required="ctrl.required"
                   md-on-close="ctrl.officeClearSearch(1)"
                   data-md-container-class=""
                   ng-change="ctrl.onChangeSubdistrict(ctrl.configServerSideSubdistrict.selectedItem)"
                   whenscrollends="ctrl.loadMoreSubdistrictList(ctrl.configServerSideSubdistrict)">
            <md-select-header class="">
                <input id="searchDep" ng-model="ctrl.configServerSideSubdistrict.textSearchSubdistrict"
                       type="search"
                       placeholder="ค้นหาแขวง/ตำบล"
                       class="demo-header-searchbox md-text"
                       ng-keyup="ctrl.getSubDistric()">
            </md-select-header>
            <md-optgroup label="subdistrict">
                <md-option ng-value="item" ng-repeat="item in ctrl.subdistrictList  | filter:ctrl.configServerSideSubdistrict.textSearchSubdistrict">{{item.SUBDISTRICT_NAME_TH}}</md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>
 </div>