// variable
@import "../../base/variables.scss";
// use for plugin family.scss
@import "../../plugin/family/family.scss";

// fix angular material
@import "../../base/fix-kendoui.scss";
// button
@import "../../component/button/button.scss";

.wrapper-btn-grid {
    text-align: center;
    height: 100%;

    img {
        margin-left: 5px;
        margin-right: 5px;

        @include first-child() {
            margin-left: 0px;
            margin-right: 5px;
        }

        @include last-child() {
            margin-left: 5px;
            margin-right: 0px;
        }

        @include first-of(1) {
            margin-left: 0px;
            margin-right: 0px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

// config grid for kendo ui
div[kendo-grid] {
    table {
        border-collapse: collapse;
        width: 100%;

        colgroup {
            col {

                // min-width: 200px;
                @include first-child() {
                    width: 125px;

                    @include MQ(XL) {
                        width: 125px;
                    }
                }

               &:nth-child(2) {
                    width: 82px;

                    @include MQ(XL) {
                        width: 82px;
                    }
                }

                // @include last-child() {
                //     width: 125px;

                //     @include MQ(XL) {
                //         width: 125px;
                //     }
                // }
            }
        }

        thead {
            tr {
                th {
                    md-checkbox {
                        &.md-checked {
                            .md-ink-ripple {
                                color: rgba(255, 255, 255, 0.54);
                            }
                        }

                        &:not(.md-checked) {
                            .md-icon {
                                border-color: rgba(255, 255, 255, 0.54);
                            }
                        }

                        .md-label {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    .md-label {
                        margin-left: 0px;
                    }

                    // vertical-align: top;
                }
            }
        }
    }
}