﻿<div>
    <div layout="row">
        <label flex>การจัดการสิทธิ์การใช้งาน > เพิ่มกลุ่มสิทธิ์การใช้งาน</label>
    </div>
    <div>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="รายละเอียด">

                <md-input-container class="md-block">
                    <label>ชื่อกลุ่ม</label>
                    <input ng-model="ctrl.GROUP_NAME" type="text" required>
                </md-input-container>

                <div class="" ng-app="">
                    <md-tabs md-dynamic-height="" md-border-bottom="">
                        <md-tab label="บุคคล">
                            <div layout="row" layout-wrap>
                                <div flex-xs="100" flex-sm="100" flex-md="100" flex="33">
                                    <md-input-container class="">
                                        <label>ชื่อ-สกุล</label>
                                        <input ng-model="ctrl.Name" type="text" required>
                                    </md-input-container>
                                </div>
                                <div flex-xs="100" flex-sm="100" flex-md="100" flex="33">
                                    <md-input-container class="">
                                        <label>รหัสผู้ใช้งาน (Username)</label>
                                        <input ng-model="ctrl.UserName" type="text">
                                    </md-input-container>
                                </div>
                                <div flex-xs="100" flex-sm="100" flex-md="100" flex="33">
                                    <md-input-container>
                                        <label>หน่วยงาน</label>
                                        <md-select ng-model="ctrl.Office">
                                            <md-option ng-repeat="item in ctrl.OfficeList" ng-value="item.ORG_CODE">{{item.ORG_NAME}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row" layout-wrap>
                                <div flex-xs="100" flex-sm="100" flex-md="33" flex="33" flex-offset="66">
                                    <md-button class="" ng-click="ctrl.Search()">
                                        <img ng-src="Content/btn/search_btn.png">
                                    </md-button>
                                    <md-button class="" ng-click="ctrl.Default()">
                                        <img ng-src="Content/btn/reset_btn.png">
                                    </md-button>
                                </div>
                            </div>
                            <div layout="row" layout-wrap>
                                <div id="example" flex="45">
                                    <label flex>ผลการค้นหา</label>
                                    <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.gridOptions"></div>
                                </div>
                                <div flex="10" layout="column" layout-align="center center">
                                    <md-button class="" ng-click="ctrl.ToRight()"><img ng-src="Content/btn/tranfer_in_btn.png"></md-button>
                                    <md-button class="" ng-click="ctrl.ToLeft()"><img ng-src="Content/btn/tranfer_out_btn.png"></md-button>
                                </div>
                                <div id="example" flex="45">
                                    <label flex>ผู้ที่ถูกเลือก</label>
                                    <div kendo-grid="ctrl.kendoGrid2" k-options="ctrl.gridOptions2"></div>
                                </div>
                            </div>
                            <div layout="row" layout-align="center center">
                                <md-button class=""><img ng-src="Content/btn/save_btn.png"></md-button>
                                <md-button class=""><img ng-src="Content/btn/cancel_btn.png"></md-button>
                            </div>


                        </md-tab>
                        <md-tab label="เมนู">

                            <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.selectedContacts"></div>

                        </md-tab>
                    </md-tabs>

                </div>

            </md-tab>

        </md-tabs>

    </div>
</div>
