﻿<div ng-if="ctrl.Mode == 1">
    <div layout="column">
        <div>
            <label flex>การค้นหา : สิทธิ์การใช้งาน</label>
        </div>
    </div>

    <div layout="row">
        <md-input-container flex="33">
            <label>กลุ่มสิทธิ์การใช้งาน</label>
            <input ng-model="ctrl.groupName" type="text">
        </md-input-container>
        <div flex hide-sm hidw-xs layout="row" layout-align="end center">
            <md-button ng-click="ctrl.Search()"><img ng-src="Content/btn/search_btn.png"></md-button>
            <md-button ng-click="ctrl.Clear()"><img ng-src="Content/btn/reset_btn.png"></md-button>
        </div>
    </div>

    <div layout="row">
        <div layout-align="end center">
            <md-button class="md-raised" ng-click="ctrl.AddGroup()">เพิ่มกลุ่ม</md-button>
        </div>

        <div flex hide-sm hidw-xs layout="row" layout-align="end center">
            <md-button ng-click="ctrl.Export()"><img ng-src="Content/btn/export_btn.png"></md-button>
        </div>
    </div>

    <div id="example">
        <div kendo-grid="ctrl.kendoGrid" k-options="ctrl.mainGridOptions"></div>
    </div>
</div>

<div ng-if="ctrl.Mode == 2 || ctrl.Mode == 3">
    <add-group-privilege-management object="ctrl.paramObj"></add-group-privilege-management>
</div>