﻿<div class="content-padding" ng-if="ctrl.Mode == 0" layout="column" layout-wrap>
    <div class="wrapper-header-toppic" layout="row">
        <div class="header-toppic">
            การค้นหา : ข้อมูลผู้ใช้งาน
        </div>
    </div>
    <div class="wrapper-input" layout="row" layout-wrap>
        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>รหัสพนักงาน / เลขประจำตัว</label>
            <input ng-model="ctrl.PersonCode" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>ชื่อ-สกุล</label>
            <input ng-model="ctrl.PersonName" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>รหัสผู้ใช้งาน</label>
            <input ng-model="ctrl.Username" type="text">
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>หน่วยงาน</label>
            <md-select ng-model="ctrl.Office" placeholder="หน่วยงาน">
                <md-option ng-repeat="item in ctrl.OfficeList" ng-value="item.ORG_CODE">{{item.ORG_NAME}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>ใช้งาน</label>
            <md-select ng-model="ctrl.Status" placeholder="ใช้งาน">
                <md-option ng-repeat="item in ctrl.StatusList" ng-value="item.ID">{{item.Name}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="input-container" flex-gt-sm="50" flex-gt-md="33">
            <label>ตำแหน่ง</label>
            <md-select ng-model="ctrl.Position" placeholder="ตำแหน่ง">
                <md-option ng-repeat="item in ctrl.PositionList" ng-value="item.ID">{{item.DATA_TOPIC}}</md-option>
            </md-select>
        </md-input-container>

    </div>

    <div class="wrapper-input" layout="row" layout-wrap>
        <div flex-xs="100" flex-sm="100" flex-gt-sm="none" layout="row" layout-align="start center" layout-wrap>
            <md-button class="btn-main" ng-click="ctrl.addEmployee()" flex="none">
                <img src="../../Content/icon/icon-add.svg">
                เพิ่มพนักงาน
            </md-button>
            <md-button class="btn-main" ng-click="ctrl.addworker()" flex="none">
                <img src="../../Content/icon/icon-add.svg">
                เพิ่มลูกจ้าง
            </md-button>
        </div>

        <div flex-xs="100" flex-sm="100" flex-gt-sm="auto" layout="row" layout-align="end center" layout-wrap>
            <md-button class="btn-main" ng-click="ctrl.Export()" flex="none">
                <img src="../../Content/icon/icon-export.svg">
                ส่งออกข้อมูล
            </md-button>
            <md-button class="btn-main" ng-click="ctrl.Search()" flex="none">
                <img src="../../Content/icon/icon-search.svg">
                ค้นหา
            </md-button>
            <md-button class="btn-cancel" ng-click="ctrl.Clear()" flex="none">
                <img src="../../Content/icon/icon-reset.svg">
                ค่าเริ่มต้น
            </md-button>
        </div>
    </div>

    <div kendo-grid="ctrl.grid" k-options="ctrl.gridOptions"></div>
</div>

<div class="content-padding" ng-if="ctrl.Mode == 1" layout="column" layout-wrap>
    <insert-employee object="ctrl.paramObj" mode="ctrl.Mode"></insert-employee>
</div>

<div class="content-padding" ng-if="ctrl.Mode == 2" layout="column" layout-wrap>
    <insert-worker object="ctrl.paramObj" mode="ctrl.Mode"></insert-worker>
</div>