﻿<div ng-cloak>
    <md-content>
        <md-content class="md-padding">
            <md-tabs md-dynamic-height md-border-bottom ng-if="ctrl.editMode == false">
                <md-tab label="เพิ่มข้อมูลแจ้งผู้ใช้งาน" class="md-primary">

                    <div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>หัวข้อใหญ่</label>
                            <input ng-model="ctrl.model.SUBJECT_MAIN" required>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <div class="input-container" flex>
                            <input kendo-date-time-picker
                                   ng-model="ctrl.model.ALERT_START_TIME"
                                   k-ng-model="obj"
                                   k-format="'yyyy/MM/dd HH:mm'"
                                   style="width: 100%;" />
                        </div>

                        <div class="input-container" flex>
                            <input kendo-date-time-picker
                                   ng-model="ctrl.model.ALERT_END_TIME"
                                   k-ng-model="obj"
                                   k-format="'yyyy/MM/dd HH:mm'"
                                   style="width: 100%;" />
                        </div>
                    </div>

                    <div>
                        <label ng-required="true">ข้อความ</label>
                    </div>
                    <textarea kendo-editor k-ng-model="ctrl.model.ALERT_MASSAGE"></textarea>

                    <div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>ผู้แจ้งเตือน</label>
                            <input ng-model="ctrl.model.NOTIFIER_NAME" required>
                        </md-input-container>
                    </div>

                    <div layout="" layout-align="center center">
                        <md-button class="md-raised md-primary" ng-click="ctrl.sentData()">บันทึก</md-button>
                        <md-button class="md-raised md-primary">ยกเลิก</md-button>
                    </div>

                </md-tab>
            </md-tabs>


            <md-tabs md-dynamic-height md-border-bottom ng-if="ctrl.editMode == true">
                <md-tab label="แก้ไขข้อมูลแจ้งผู้ใช้งาน" class="md-primary">

                    <div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>หัวข้อใหญ่</label>
                            <input ng-model="ctrl.model.SUBJECT_MAIN" required>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <div class="input-container" flex>
                            <input kendo-date-time-picker
                                   ng-model="ctrl.model.ALERT_START_TIME"
                                   k-ng-model="obj"
                                   k-format="'yyyy/MM/dd HH:mm'"
                                   style="width: 100%;" />
                        </div>

                        <div class="input-container" flex>
                            <input kendo-date-time-picker
                                   ng-model="ctrl.model.ALERT_END_TIME"
                                   k-ng-model="obj"
                                   k-format="'yyyy/MM/dd HH:mm'"
                                   style="width: 100%;" />
                        </div>
                    </div>

                    <div>
                        <label ng-required="true">ข้อความ</label>
                    </div>
                    <textarea kendo-editor k-ng-model="ctrl.model.ALERT_MASSAGE"></textarea>

                    <div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>ผู้แจ้งเตือน</label>
                            <input ng-model="ctrl.model.NOTIFIER_NAME" required>
                        </md-input-container>
                    </div>

                    <div layout="" layout-align="center center">
                        <md-button class="md-raised md-primary"  ng-click="ctrl.sentDataSave()">บันทึก</md-button>
                        <md-button class="md-raised md-primary">ยกเลิก</md-button>
                    </div>

                </md-tab>
            </md-tabs>

        </md-content>
    </md-content>
</div>
<!--ng-click="ctrl.sentData()"-->