﻿<div ng-repeat="dataIdentiy in ctrl.dataIdentiySetSystem">
    <div layout="row">
        <label flex>การตั้งค่าเชื่อมต่อฐานข้อมูล {{dataIdentiy.HEADER_NAME}}</label>
        <md-button class="md-raised md-warn" ng-if="dataIdentiy.editMode == false" ng-click="ctrl.editMode(dataIdentiy,$index)">แก้ไข</md-button>
        <md-button class="md-raised md-warn" ng-if="dataIdentiy.editMode == true" ng-click="ctrl.testConnectionDB()">ทดสอบการเชื่อมต่อ</md-button>
        <md-button class="md-raised md-warn" ng-if="dataIdentiy.editMode == true" ng-click="ctrl.saveConnectDatabase(dataIdentiy)">บันทึก</md-button>
        <md-button class="md-raised md-warn" ng-if="dataIdentiy.editMode == true" ng-click="ctrl.cancelConnectDatabase(dataIdentiy,$index)">ยกเลิก</md-button>
    </div>
    <hr />
    <div>
        <md-input-container class="md-block" ng-if="dataIdentiy.SYSTEM_TYPE_ID != 2" >
            <label>Host Name/IP Address</label>
            <input ng-model="dataIdentiy.HOSTNAME_IP" ng-disabled="!dataIdentiy.editMode" required>
        </md-input-container>
    </div>
    <div>
        <md-input-container class="md-block" ng-if="dataIdentiy.SYSTEM_TYPE_ID != 2" >
            <label>Port Server</label>
            <input ng-model="dataIdentiy.PORT_SERVER" ng-disabled="!dataIdentiy.editMode" required>
        </md-input-container>
    </div>
    <div>
        <md-input-container class="md-block" ng-if="dataIdentiy.SYSTEM_TYPE_ID != 2"  >
            <label>Service Name/SID</label>
            <input ng-model="dataIdentiy.SERVICE_NAME" ng-disabled="!dataIdentiy.editMode" required>
        </md-input-container>
    </div>
    <div>
        <md-radio-group ng-model="dataIdentiy.ISSID" ng-if="dataIdentiy.SYSTEM_TYPE_ID != 2" ng-disabled="!dataIdentiy.editMode" layout="row">
            <md-radio-button value="F">Service Name</md-radio-button>
            <md-radio-button value="T"> SID </md-radio-button>
        </md-radio-group>
    </div>
    <div>
        <md-input-container class="md-block" ng-if="dataIdentiy.SYSTEM_TYPE_ID != 1" >
            <label>Server Name</label>
            <input ng-model="dataIdentiy.HOSTNAME_IP" ng-disabled="!dataIdentiy.editMode" required>
        </md-input-container>
    </div>
    <div>
        <md-input-container class="md-block" ng-if="dataIdentiy.SYSTEM_TYPE_ID != 1" >
            <label>Database Name</label>
            <input ng-model="dataIdentiy.DATABASE_NAME" ng-disabled="!dataIdentiy.editMode" required>
        </md-input-container>
    </div>
    <div>
        <md-input-container class="md-block">
            <label>username</label>
            <input ng-model="dataIdentiy.SET_USER_NAME" ng-disabled="!dataIdentiy.editMode" required>
        </md-input-container>
    </div>
    <div>
        <md-input-container class="md-block">
            <label>Password</label>
            <input ng-model="dataIdentiy.SET_PASSWORD" ng-disabled="!dataIdentiy.editMode" required type="password">
        </md-input-container>
    </div>
</div>
